{% if collection %}
    <h2 class="tt_uppercase color_dark m_bottom_25">{{ collection.name }}</h2>
    <img class="r_corners m_bottom_40" src="{{ asset('public/images/category_img_1.jpg') }}" alt="">
{% endif %}