{% extends "::base.html.twig" %}

{% block body %}
    <div class="page_content_offset">
        <div class="container">
            <div class="clearfix m_bottom_25 m_sm_bottom_20">
                <h2 class="color_dark f_left heading2 animate_fade f_mxs_none m_mxs_bottom_15 animate_sj_finished animate_fade_finished">Новые коллекции</h2>
            </div>
            {% render(controller('CatalogBundle:Collection:list')) %}
        </div>
    </div>
{% endblock %}