{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.imagePath.GalleryHasMedias[0] is defined %}
        {% thumbnail object.imagePath.GalleryHasMedias[0].media, 'goods_small' %}
        {% endif %}
    </div>
{% endblock %}