{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% for category in object.categories %}
            <span>{{ category.cname }}</span>/
        {% endfor %}
    </div>
{% endblock %}