{% extends base_template %}

{% import 'SonataAdminBundle:CRUD:base_show_macro.html.twig' as show_helper %}

{%- block actions -%}
    <h2 class="text-center">Заказ: {{ object.FIO }}, {{ object.phone }}</h2>
{%- endblock -%}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': sonata_admin.adminPool.getTemplate('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block show %}
    <div class="sonata-ba-view">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h1 class="box-title">{{ admin.trans('Магазин') }}</h1>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <tbody>
                                <tr class="sonata-ba-view-container">
                                    <th>Магазин:</th>
                                    <td>"Shop11"</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Тел.:</th>
                                    <td>{{ get_param('phone_number') }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>E-mail:</th>
                                    <td>{{ get_param('email') }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Сайт:</th>
                                    <td>{{ app.request.getSchemeAndHttpHost() }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Дата:</th>
                                    <td>{{ "now"|date('d/m/Y H:s:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h1 class="box-title">{{ admin.trans('Клиент') }}</h1>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <tbody>
                                <tr class="sonata-ba-view-container">
                                    <th>Номер Заказа:</th>
                                    <td>{{ object.id }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>ФИО:</th>
                                    <td>{{ object.FIO }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Тел.:</th>
                                    <td>{{ object.phone }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Статус:</th>
                                    <td>{{ object.status }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th>Адрес:</th>
                                    <td>{{ object.address }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h1 class="box-title">Продукты</h1>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        {% set totalSum = 0 %}
                        <table class="table table-bordered">
                            <thead>
                                <tr class="sonata-ba-list-field-header">
                                    <th class="sonata-ba-list-field-header-text">Название</th>
                                    <th class="sonata-ba-list-field-header-text">Количество</th>
                                    <th class="sonata-ba-list-field-header-text">Цена за единицу</th>
                                    <th class="sonata-ba-list-field-header-text">Итого</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in object.orderProducts %}
                                {% set totalSum = totalSum + (product.productPrice * product.productQuantity) %}
                                <tr>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ product.productName }} сом.</td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ product.productQuantity }} сом.</td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ product.productPrice }} сом.</td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ product.productPrice * product.productQuantity }} сом.</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="text-right" colspan="3"><b>Общая сумма:</b></td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ totalSum }} сом.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
{% endblock %}