<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{{ sonata_seo_title() }}{% endblock %}
        {{ sonata_seo_metadatas() }}
        <!--meta info-->
        <link rel="icon" type="image/ico" href="{{ asset('fav.ico') }}">
        <!-- Standard Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('fav.ico') }}" />

        {#<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">#}

        {% block stylesheets %}
            <!--stylesheet include product-->
            <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.min.css') }}">
            <!-- RS5.0 Layers and Navigation Styles -->
            <link rel="stylesheet" type="text/css" href="{{ asset('public/css/core.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/css/responsive.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/css/custom.css') }}">
        {% endblock %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('public/css/noty/buttons.css') }}">
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('public/css/noty/animate.css') }}">
    </head>
    <body>
        <!--boxed layout-->
        <div class="wrapper">

            {% include '::header.html.twig' %}

            {% block body %}{% endblock %}

            {% include '::footer.html.twig' %}
        </div>
        <!--end boxed layout-->
        <!--scripts include-->
    </body>
    {% block javascripts %}
        <!-- jQuery Latest Version -->
        <script src="{{ asset('public/js/vendor/jquery-1.12.0.min.js') }}"></script>
        <!-- Bootstrap framework JS -->
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        <!-- All JS plugins included in this file. -->
        <script src="{{ asset('public/js/plugins.js') }}"></script>
        <!-- Main JS file that contents all jQuery Plugins activation. -->
        <script src="{{ asset('public/js/main.js') }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        <script src="{{ asset('public/js/noty/jquery.noty.packaged.min.js') }}"></script>
        <script src="{{ asset('public/js/basket/basket.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                Basket.init({
                    addProductUrl: '{{ path('shop_basket_basket_addtobasket') }}'
                });
            });
        </script>
    {% endblock %}

</html>
