<!-- Footer -->
<footer id="footer" class="footer-area footer-style-2 pt-80">
    <div class="footer-top-area bg-gray-light ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <div class="footer-widgets-subscribe">
                        <div class="footer-single-widgets contact-info">
                            <a href="{{ path('homePage') }}"><img src="{{ asset('public/images/logo.png') }}" width="215px" alt="footer logo"></a>
                            <div class="contact-text">
                                <h5>Связаться до 21:00</h5>
                                <a href="tel:{{ get_param('phone_number') }}">{{ get_param('phone_number') }}</a>
                            </div>
                            <div class="footer-social-icons text-center">
                                <ul class="social-list">
                                    <li><a href="https://www.facebook.com/naturalifekg"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com/natura_life_kg"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <div class="footer-single-widgets contact-info">
                            <br>
                            <h3>Наши Партнеры</h3>
                            <div class="contact-text">
                                <h5>Магазин Белоснежка</h5>
                                <h5>Токтогула 208/4 (пер.Турусбекова)</h5>
                                <a href="tel:{{ get_param('phone_number') }}">{{ get_param('phone_number') }}</a>
                            </div>
                            <div class="footer-social-icons text-center">

                            </div>
                        </div>
                        <br>
                        <div class="footer-single-widgets contact-info">
                            <h3></h3><br><br>
                            <div class="contact-text">
                                <h5>Магазин NATURA LIFE</h5>
                                <h5>Боконбаева, 76 (пер. Усенбаева)</h5>
                                <a href="tel:{{ get_param('phone_number') }}">{{ get_param('phone_number') }}</a>
                            </div>
                        </div>

                        <div class="footer-single-widgets">
                            <h4 class="footer-section-title">Меню</h4>
                            <ul>
                                <li><a href="{{ path('homePage') }}">Главная</a></li>
                                <li><a href="{{ path('aboutPage') }}">О нас</a></li>
                                <li><a href="{{ path('paymentPage') }}">Оплата</a></li>
                                <li><a href="{{ path('deliveryPage') }}">Доставка</a></li>
                                <li><a href="{{ path('contactPage') }}">Контакты</a></li>
                                <li><a href="{{ path('returnProductPage') }}">Условия возврата товара</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area bg-gray-dark ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <div class="copyright-text">
                        <p class="text-capitalize">&copy; 2016 <a href="{{ path('homePage') }}" class="text-uppercase">2017 SHOP11.KG </a> | Все Права Защищены</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <div class="payment-icons text-right">
                        <p class="text-capitalize">&copy; 2017 <a href="http://koroz.co" target="_blank" class="text-uppercase"><img src="http://koroz.co/favicon.png" style="background: white" width="15" height="15" alt="Koroz.co web studio"></a> | Разработано студией <a href="http://koroz.co" target="_blank" class="text-uppercase">«KOROZ.CO»</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->