<!--begin header-->
<!-- Start of header area -->
<header id="header" class="header-area">
    <!-- Start Header top area -->
    <div class="header-top bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7 col-lg-8 col-xs-12 hidden-xs">
                    <div class="chat-phone-area">
                        <ul>
                            <li><a href="tel:{{ get_param('phone_number') }}"><span class="lnr lnr-phone"></span>Контактный тел.: <span class="text-medium">{{ get_param('phone_number') }}</span></a></li>
                            <li><a href="javascript:void(0);"><span class="lnr lnr-calendar-full"></span>Время работы: <span class="text-medium">c 10:00 до 20:00</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 col-lg-4 col-xs-12">
                    <div class="account-language-area">
                        <div class="account-box-top">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header top area -->
    <!-- Start header middle area -->
    <div class="header-middle bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <div class="header-middle-inner">
                        <div class="logo hidden-xs hidden-sm">
                            <a href="{{ path('homePage') }}">
                                <img src="{{ asset('public/images/logo.png') }}" alt="logo" width="215px">
                            </a>
                        </div>
                        <div class="search-area">
                            <form action="{{ path('searchProduct') }}">
                                <input type="text" name="search" placeholder="Поиск....">
                                <button class="subscribe-btn" type="submit">Поиск</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="wish-cart" id="cart">
                        {% render(controller('BasketBundle:Basket:basket')) %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divide-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <hr class="m-0">
                </div>
            </div>
        </div>
    </div>
    {% if app.request.get('_route') != 'homePage' %}
        {{ render(controller('CatalogBundle:Category:categoryMenu')) }}
    {% endif %}
    <!-- End header middle area -->
    {% if app.request.get('_route') == 'homePage' %}
    <!-- Start Header bottom area -->
        <div class="header-bottom-area bg-white full-width-mega-menu hidden-sm hidden-xs">
            <div class="container">
                <div class="full-width-mega-menu-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bg-gray-dark">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="category-menu-wrap style-2">
                                            <div class="category-header">
                                                <a href="{{ path("homePage") }}" class="tm-btn subscribe-btn">категории</a>
                                            </div>
                                            <div class="category-body tm-collapse">
                                                {{ render(controller('CatalogBundle:Category:getAllCategories')) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <nav class="primary-menu full-width">
                                            <ul class="main-menu">
                                                <li>
                                                    <a href="{{ path('homePage') }}">Главная</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('aboutPage') }}">О нас</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('paymentPage') }}">Оплата</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('deliveryPage') }}">Доставка</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('contactPage') }}">Контакты</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- End Header bottom area -->
    {% endif %}
    <!-- Mobile-menu-area start -->
    {{ render(controller('CatalogBundle:Home:mobileMenu')) }}
    <!-- Mobile-menu-area end -->
</header>
<!-- end header -->