{% extends "::base.html.twig" %}
{% form_theme form 'ApplicationSonataUserBundle:Captcha:captcha.html.twig' %}
{% block stylesheets %}
    <!--stylesheet include login-->
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/material-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/javascript/tmcategory/tm_category_menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/view/theme/theme613/stylesheet/stylesheet.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9">
            {% include '::Menu/mainBreadcrumb.html.twig'%}
            <h1>Регистрация</h1>
            <p>Если Вы уже зарегистрированы, перейдите на страницу <a href="{{ path('fos_user_security_login') }}">авторизации.</a></p>
            {% include 'ApplicationSonataUserBundle:Registration:register_content.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/view/javascript/jquery/jquery-2.1.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/view/javascript/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script>
        jQuery(function($){
            $.mask.definitions["9"] = null;
            $.mask.definitions["%"] = "[3,5,7]";
            $.mask.definitions["*"] = "[0-9]";
            $.mask.definitions["#"] = "[0-9]";
            $(".phone").mask("+996 %##-##-##-##");
        });
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
