{% for product in goods %}
    <!-- Start Single profuct -->
    <div class="col-md-3 col-sm-4 col-lg-3 col-xs-12">
        <div class="single-product">
            <div class="product-thumb">
                <a href="{{ path('goodsGetInfo', {'id': product.id }) }}">
                    {% if product.imagePath.GalleryHasMedias[0] is defined %}
                        <img class="front-img" src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_262' %}">
                        <img class="back-img" src="{% path product.imagePath.GalleryHasMedias[1].media, 'goods_262' %}" alt="img" >
                    {% else %}
                        <img class="front-img" src="{{ asset('public/images/noimage/noimage_262.jpeg') }}" alt="img" >
                    {% endif %}
                </a>
            </div>
            <div class="product-info">
                <div class="pro-title">
                    <h4>
                        <a href="{{ path('goodsGetInfo', {'id': product.id}) }}" title="{{ product.name }}">
                            {{ product.name }}
                        </a>
                    </h4>
                </div>
                <div class="pro-price-ratting">
                    <div class="price-box">
                        <span class="price">{{ product.price }} сом</span>
                        {% if product.oldPrice %}
                        <span class="old-price">{{ product.oldPrice }} сом</span>
                        {% endif %}
                    </div>
                </div>
                <div class="product-action">
                    <a href="javascript:void(0);" onclick="Basket.addProductToBasket({{ product.id }}, '{{ product.name }}');" class="pro-btn add-to-cart">Купить</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single profuct -->
{% endfor %}