{% extends "::base.html.twig" %}

{% block body %}

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : product.name} %}
        <!-- End breadcamb area -->

        <!-- Start single product detais area -->
        <div class="tm-section single-product-details-area ptb-80 bg-white">
            <div class="container">
                <!-- Start single product details inner -->
                <div class="single-pro-details-inner">
                    <div class="row">
                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                            <div class="single-pro-best-view">
                                <div class="single-pro-small-view">
                                    <div class="tab-content sin-pro-small-image">
                                        {% if product.imagePath|length %}
                                            {% for galleryHasMedia in product.imagePath.GalleryHasMedias if galleryHasMedia.media %}
                                                <div role="tabpanel" id="sin-pro-{{ loop.index }}" class="tab-pane fade {% if loop.index == 1%}in active{% endif %}">
                                                    <a class="grouped_elements" rel="group{{ loop.index }}" href="{% path galleryHasMedia.media, 'reference' %}">
                                                        <img src="{% path galleryHasMedia.media, 'goods_458' %}" alt=""/>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div role="tabpanel" id="sin-pro-1" class="tab-pane active">
                                                <a class="grouped_elements" rel="group1" href="{{ asset('public/images/noimage/noimage_458.jpeg') }}">
                                                    <img class="front-img" src="{{ asset('public/images/noimage/noimage_458.jpeg') }}" alt="img">
                                                </a>
                                            </div>

                                        {% endif %}
                                    </div>
                                </div>
                                <div class="single-product-thumbs">
                                    <ul id="tablist" class="single-pro-thumbs-list" role="tablist">
                                        {% if product.imagePath|length > 0 %}
                                            {% for galleryHasMedia in product.imagePath.GalleryHasMedias if product.imagePath|length > 0 %}
                                                <li role="presentation" class="{% if loop.index == 1 %}active{% endif %}">
                                                    <a href="#sin-pro-{{ loop.index }}" role="tab" data-toggle="tab">
                                                        <img src="{% path galleryHasMedia.media, 'goods_100' %}">
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li role="presentation" class="active">
                                                <a href="#sin-pro-1" role="tab" data-toggle="tab">
                                                    <img class="front-img" src="{{ asset('public/images/noimage/noimage_100.jpeg') }}" alt="img">
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                            <form action="#">
                                <!-- Start single product description -->
                                <div class="single-product-description">
                                    <h3 class="tm-single-product-title">{{ product.name }}</h3>
                                    <p class="product-details-paragraph">
                                        {{ product.shortDescription }}
                                    </p>
                                    <div class="price-box">
                                        <span class="price">{{ product.price }} сом</span>
                                    </div>

                                    <div class="tm-size-color-single">
                                        <h4>Количество</h4>
                                        <div class="cart-quantity" style="margin-left: 21px;">
                                            <div class="cart-plus-minus">
                                                <input id="qtybutton" class="cart-plus-minus-box" data-id="{{ product.id }}" type="text" name="qtybutton" value="1">
                                                <div class="dec qtybutton" data-id="{{ product.id }}">-</div>
                                                <div class="inc qtybutton" data-id="{{ product.id }}">+</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-action">
                                        <a href="javascript:void(0);" class="pro-btn add-to-cart">Купить</a>
                                    </div>

                                    <div class="tm-single-product-categories">
                                        <h4>Whatsapp номер магазина:</h4>
                                        <div class="categories-tags" style="margin-left: 10px;">
                                            <a href="tel:+996558150025">+996(558)15-00-25</a>
                                        </div>
                                    </div>

                                    <div class="tm-single-product-categories">
                                        <h4>Код товара:</h4>
                                        <div class="categories-tags" style="margin-left: 10px;">{{ product.code }}</div>
                                    </div>
                                    <div class="tm-single-product-share">
                                        <h4>Поделиться</h4>
                                        <ul class="social-list">
                                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="whatsapp://send?text={{ app.request.uri }}"><i class="fa fa-whatsapp"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="tm-single-product-categories">
                                        <h4>Категории</h4>
                                        <div class="categories-tags">
                                            {% for category in product.categories %}
                                                <a href="{{ path('getCategory', {'id': category.id }) }}">{{ category }}</a>
                                                {% if not loop.last %}
                                                    <span>,</span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- End single product description -->
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End single product details inner -->
            </div>
        </div>
        <!-- End single product detais area -->

        <div class="tm-section single-product-reviews pb-80 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <ul id="tablist" class="tab-section-title" role="tablist">
                                <li role="presentation" class="active">
                                    <h2>
                                        <a href="#product-description" role="tab" data-toggle="tab">Описание</a>
                                    </h2>
                                </li>
                                <li role="presentation">
                                    <h2>
                                        <a href="#product-reviews" role="tab" data-toggle="tab">Комментарии</a>
                                    </h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Start tab content        -->
                        <div class="tab-content">
                            <div role="tabpanel" id="product-description" class="tab-pane fade in active">
                                <div class="sin-pro-description-inner">
                                    {{ product.review|raw }}
                                </div>
                            </div>
                            <div role="tabpanel" id="product-reviews" class="tab-pane fade">
                                <div class="single-pro-reviews-inner">
                                    <div class="single-pro-review-top">
                                        {% for comment in comments %}
                                        <div class="single-pro-reviews">
                                            <div class="review-thumb">
                                                <img src="{{ asset('public/images/review/1.png') }}" alt="reviewer image">
                                            </div>
                                            <div class="reveiw-content">
                                                <div class="review-content-top">
                                                    <h3 class="reviewer-name">{{ comment.author }}</h3>
                                                    <span class="review-date-count">{{ comment.created|date }}</span>
                                                </div>
                                                <div class="review-content-bottom">
                                                    <p>{{ comment.comment }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="single-pro-review-bottom">
                                        {{ form_start(form, {action:path('goodsGetInfo', {id : product.id })}) }}
                                            <h3 class="new-review">Оставить отзыв</h3>
                                            <div class="single-review-input">
                                                {% if form.author.vars.errors|length %}
                                                    <p>{{ form.author.vars.errors }}</p>
                                                {% endif %}
                                                {{ form_errors(form.author) }}
                                                {{ form_widget(form.author) }}
                                            </div>
                                            <div class="single-review-input">
                                                {% if form.comment.vars.errors|length %}
                                                    <p>{{ form.comment.vars.errors }}</p>
                                                {% endif %}
                                                {{ form_errors(form.comment) }}
                                                {{ form_widget(form.comment) }}
                                            </div>
                                            <div class="single-review-input">
                                                {{ form_widget(form.submit) }}
                                            </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End tab content -->
                    </div>
                </div>
            </div>
        </div>

        <div class="tm-section pb-80 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <div class="section-title section-title-2">
                            <h2>Вам также должно понравиться</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tab-content">
                        <!-- Start featured products -->
                        <div role="tabpanel" id="featured-product" class="product-list owl-carousel featured-products owl-nav-style-1 owl-theme clearfix tab-pane fade in active">
                            <!-- Start Single profuct -->
                            {% for product in sameGoods %}
                            <div class="col-md-3 col-sm-4 col-lg-3 col-xs-12">
                                <div class="single-product">
                                    <div class="product-thumb">
                                        <a href="{{ path('goodsGetInfo', {'id': product.id}) }}">
                                            {% if product.imagePath.GalleryHasMedias[0] is defined %}
                                                <img class="front-img" src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_262' %}">
                                                <img class="back-img" src="{% path product.imagePath.GalleryHasMedias[1].media, 'goods_262' %}" alt="img" >
                                            {% else %}
                                                <img class="front-img" src="{{ asset('public/images/noimage/noimage_262.jpeg') }}" alt="img" >
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <div class="pro-title">
                                            <h4>
                                                <a href="{{ path('goodsGetInfo', {'id': product.id}) }}" title="{{ product.name }}">
                                                    {{ product.name }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="pro-price-ratting">
                                            <div class="price-box">
                                                <span class="price">{{ product.price }} сом</span>
                                                {% if product.oldPrice %}
                                                    <span class="old-price">{{ product.oldPrice }} сом</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-action">
                                            <a href="javascript:void(0);" onclick="Basket.addProductToBasket({{ product.id }}, '{{ product.name }}');" class="pro-btn add-to-cart">Купить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- End Single profuct -->
                        </div>
                        <!-- End featured products -->
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End page content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('.add-to-cart').on('click', function () {
                var id = $('#qtybutton').data('id');
                var count = $('#qtybutton').val();
                addItem(id, '', count);
            });
        });
        function addItem(id, name, amount) {
            Basket.addProductToBasket(id, name, amount)
        }
    </script>
{% endblock %}