{% extends "::base.html.twig" %}

{% block body %}

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">
        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : 'Результаты поиска'} %}
        <!-- End breadcamb area -->
        <!-- Start category page area -->
        <div class="tm-section bg-white category-page-area pt-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <!-- Start category page right sidebar -->
                        <div class="cp-right-sidebar">
                            <!-- Start category page product lists -->
                            <div class="cp-right-products">
                                <div class="tab-content">
                                    <!-- Start gridview products -->
                                    <div  id="grid-view" class="tab-pane fade in active" role="tabpanel">
                                        <div class="row">
                                            {% for product in goods %}
                                                <!-- Start Single profuct -->
                                                <div class="col-md-3 col-sm-4 col-lg-3 col-xs-12">
                                                    <div class="single-product">
                                                        <div class="product-thumb">
                                                            <a href="{{ path('goodsGetInfo', {'id': product.id }) }}">
                                                                {% if product.imagePath.GalleryHasMedias[0] is defined %}
                                                                    <img class="front-img" src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_262' %}">
                                                                    <img class="back-img" src="{% path product.imagePath.GalleryHasMedias[1].media, 'goods_262' %}" alt="img" >
                                                                {% else %}
                                                                    <img class="front-img" src="{{ asset('public/images/noimage/noimage_262.jpeg') }}" alt="img" >
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <div class="product-info">
                                                            <div class="pro-title">
                                                                <h4>
                                                                    <a href="{{ path('goodsGetInfo', {'id': product.id}) }}" title="{{ product.name }}">
                                                                        {{ product.name }}
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div class="pro-price-ratting">
                                                                <div class="price-box">
                                                                    <span class="price">{{ product.price }} сом</span>
                                                                    {% if product.oldPrice %}
                                                                        <span class="old-price">{{ product.oldPrice }} сом</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="product-action">
                                                                <a href="javascript:void(0);" onclick="Basket.addProductToBasket({{ product.id }}, '{{ product.name }}');" class="pro-btn add-to-cart">Купить</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single profuct -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- End gridview products -->
                                </div>
                            </div>
                            <!-- End category page product lists -->
                        </div>
                        <!-- End category page right sidebar -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End category page area -->
        {{ knp_pagination_render(goods, 'CatalogBundle:Pagination:pagination.html.twig') }}
    </section>
    <!-- End page content -->
{% endblock %}