<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ app.user.email }}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ app.user.username }}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Телефон</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{ app.user.phone }}</p>
        </div>
    </div>
</form>
