<ul>
    <li class="shopping">
        <a href="{{ path('bin') }}">
            <span class="lnr lnr-cart"></span>
            <p>Корзинка</p>
            <span class="cart-items" id="cart-total2">{{ count }}</span>
        </a>
    </li>
</ul>
<div class="shopping-cart-list">
    <div class="total-price">
        <p>Корзинка</p>
        <span class="total-price-init">{{ sum }}&nbsp;сом</span>
    </div>
    <div class="checkout-cart">
        <a href="{{ path('bin') }}" class="tm-btn small">Просмотр корзины</a>
    </div>
</div>