/*********************************************************************

    Template Name: Tanzim - eCommerce HTML Template  
    Template URI: https://themeforest.net/user/
    Description: This is html5 multipurpose e-connerce template
    Author: nilArtStudio
    Author URI: https://themeforest.net/user/nilArtStudio
    Version: 1.0

    Note: This is resopnsive html. All responsive css declare here.

*********************************************************************/
/*Normal desktop : 1200px*/
@media (min-width: 1200px) and (max-width: 1919px){
  
.owl-nav-style-1.owl-theme .owl-nav .owl-prev {
  left: -3%;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-next {
  right: -3%;
}
.owl-nav-style-1.owl-theme .owl-nav [class*="owl-"] {
  font-size: 35px;
}

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

.tm-section.ptb-100{
    padding:70px 0px;
}
.tm-section.pb-100{
    padding-bottom:70px;
}
.tm-section.mtb-100{
   margin: 70px 0;
}
.search-area input {
  border-right: medium none;
  width: 180px;
}
.search-area .btn-group.bootstrap-select {
  width: 160px !important;
}
.search-area .subscribe-btn {
  padding: 0 10px;
  width: 150px;
}
.slider-area{
  height: 608px;
  overflow:hidden;
}
.tm-slider-content {
  height: 608px;
}

.slider-area.slider-style-4, 
.slider-area.slider-style-5{
  height: auto;
}

.slider-style-1 .owl-dots {
  left: 5%;
}
.owl-nav-style-1 .owl-nav span {
  font-size: 30px;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-prev {
  left: -30px;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-next {
  right: -30px;
}
.pro-btn.add-to-cart {
  font-size: 15px;
  padding: 0 6px;
}
.large-banner-content {
  padding: 15px 0 15px 15px;
}
.large-banner-content a {
  margin-top: 0px;
}
.large-size-banner .large-banner-thumb{
  width: 40%;
}
.large-size-banner .large-banner-content{
  width: 60%;
}
.large-banner-content .price-box .price {
  line-height: 60px;
}
.large-banner-content .price-box .old-price {
  line-height: 60px;
}
.single-blog-content {
  padding: 0 0;
}
.single-blog-content p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.single-blog-content h3 {
  font-size: 24px;
  line-height: 32px;
}
.footer-area > div.ptb-100{
  padding:70px 0;
}
.features-list > li {
  padding: 12px 20px;
}
.tm-offer-content h4 {
  margin-bottom: 20px;
}
.tm-offer-content h2 {
  font-size: 52px;
  line-height: 60px;
}
.header-style-2 .main-menu > li > a {
  padding: 40px 16px;
}
.header-style-2 .active-mega-menu:not(.full-width) .megamenu-area, 
.header-style-4 .active-mega-menu:not(.full-width) .megamenu-area {
  left: -200px;
}
.medium .single-men-content h2 {
  margin-bottom: 13px;
}
.all-features.style-2 .features-list li p {
  font-size: 16px;
  margin-top: 30px;
}
.footer-widgets-subscribe .footer-instagram {
  min-width: 31%;
}
.owl-nav-style-2 .owl-nav [class*="owl-"] {
  height: 70px;
  top: -75px;
}
.search-area .subscribe-btn {
  transform: translateY(0%);
}
.category-menu-wrap {
  width: 100%;
}
.main-menu > li > a {
  padding: 20px;
}
.offer-area-2 .tm-offer-content .tm-btn.mt-40 {
  margin-top: 20px;
}
.offer-area-2 .tm-offer-content h4 {
  margin-bottom: 10px;
}
.tm-offer-thumb {
  align-items: flex-start;
}
.last-elements .dropdown {
  left: auto;
  right: 0;
}
.md-pt-0{
  padding-top:0px !important;
}
.slider-style-3 .slider-thumb {
  height: 610px;
}
.full-width-list .product-action {
  margin-top:0px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-total {
  min-width: 130px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-qut {
  min-width: 130px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-price {
  min-width: 130px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-des {
  min-width: 315px;
}

/*New code*/
.single-product-small-thumbs {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.owl-nav-style-1.owl-theme .owl-nav .owl-prev {
  left: 0;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-next {
  right: 0;
}
.newsletter-form input {
  width: 65%;
}
.subscribe-btn, button.subscribe-btn {
  width: 35%;
}

.billing-submit-button .subscribe-btn {
  width: 100%;
}





}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

.tm-section.ptb-100{
    padding:50px 0px;
}
.tm-section.pb-100{
    padding-bottom:50px;
}
.section-title h2 {
  padding: 15px 0;
  font-size: 20px;
}
.header-middle .row {
  flex-wrap: wrap;
}
.search-area input {
  width: 200px;
}
.search-area .subscribe-btn {
  height: 50px;
  padding: 0 5px;
  text-align: center;
  transform: translateY(1%);
  width: 140px;
}
.language-area .btn-group.bootstrap-select.language-selection {
  width: 95px;
}
.account-actionss {
    display: inline-block;
}
.mean-container .mean-bar {
  z-index: 9;
}
.account-form {
  right: 15px;
}
.tm-slider-content {
  height: 473px;
}
.slider-style-1 .tm-slider-content-inner, .slider-style-2 .tm-slider-content-inner {
  margin-top: -50px;
  padding:0;
}
.slider-style-2-active .tm-slider-content-inner {
  margin-top: -50px;
  padding:0 15px;
}
.slider-area {
  height: 473px;
  overflow: hidden;
}
.tm-slider-content h1 {
  font-size: 40px;
  line-height: 40px;
}
.slider-area .slider-btn-box a {
  height: 50px;
  line-height: 46px;
  padding: 0px 25px;
}
.slider-style-1 .owl-dots {
  left: 3%;
}
.pro-btn.add-to-cart {
  font-size: 14px;
  padding:0 10px;
  line-height: 40px;
}
.tm-offer-content h2 {
  font-size: 40px;
  line-height: 50px;
}
.tm-offer-content h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.tm-offer-content h2.offer-time {
  font-size: 40px;
  margin-bottom: 0px;
}
.tm-offer-content p {
  margin-bottom: 10px;
}
.tm-offer-content a.tm-btn{
  height: 50px;
  line-height: 46px;
  margin-top: 20px;
  padding: 0 20px;
}
.tm-offer-thumb {
  align-items: center;
  min-height: 406px;
}
.section-title-3 h2 {
  margin-bottom: 10px;
}
.subscribe-btn, button.subscribe-btn {
  padding: 0 16px;
  width: 200px;
}
.newsletter-form {
  margin-top: 30px;
}
.small-banner-thumb img {
  width: 100%;
}
.multi-banner-area .large-size-banner {
  margin-top: 30px;
}
.features-list > li {
  justify-content: center;
  padding: 12px 15px;
}
.footer-area > div.ptb-100 {
  padding: 50px 0;
}
.footer-newsletter button {
  width: 100%;
}
.owl-nav-style-1 .owl-nav span {
  font-size: 30px;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-prev {
  left: -30px;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-next {
  right: -30px;
}
.features-list > li {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 12px 5px;
  text-align: center;
  width: 100%;
}
.features-list > li p{
  margin-left:0;
  padding-top:10px;
}
.all-features.style-1 {
  padding: 0;
}
.footer-widgets-subscribe {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-widgets-subscribe > div{
  width: 50%;
  margin-top:30px;
}
.footer-widgets-subscribe > div.about-us-widget {
  width: 50%;
}
.footer-widgets-subscribe .footer-newsletter {
  width: 50%;
}
.footer-section-title {
  margin-bottom: 15px;
}
.search-area .subscribe-btn {
  transform: translateY(0%);
}
.large-size-banner div.large-banner-thumb {
  padding-right: 30px;
  text-align: right;
}
.single-men-banner.large {
  align-items: center;
  display: flex;
}
.single-men-banner.large .single-men-content a {
  margin-bottom: 0px;
}
.single-men-banner.small {
  margin-top: 30px;
}
.single-men-banner.medium {
  margin-top: 30px;
}
.all-features.style-2 .features-list li p {
  font-size: 15px;
  margin-top: 15px;
}
.all-features.style-2 .features-list li {
  padding: 0px;
}
.all-features.style-2.ptb-120 {
  padding: 60px 0;
}
.footer-single-widgets.contact-info {
  width: 50%;
}
.footer-instagram h4 {
  margin-left: 0px;
}
.instagram-images ul {
  flex-flow: row wrap;
}
.instagram-images li {
  margin-right: 10px;
  margin-left: 0px;
}
.footer-widgets-subscribe .footer-instagram {
  width: 50%;
}
.header-style-2 .wish-cart {
  height: 70px;
}
.search-form-2-inner {
  left: 0;
  right: auto;
}
.section-title.section-title-4 {
  height: 60px;
}
.section-title.section-title-4 > a {
  line-height: 60px;
  padding-left: 20px;
  text-align: left;
  width: 270px;
}
.section-title .tab-section-title.style-2 h2 a {
  padding: 0 25px;
}
.owl-nav-style-2 .owl-nav [class*="owl-"] {
  font-size: 18px;
  height: 51px;
  line-height: 53px;
  top: -57px;
  width: 80px;
}
.mens-product-2-wrap {
  flex-wrap: wrap;
}
.tm-pa-content-layout-2 {
  width: 100%;
}
.sidebar-brand-logos {
  padding-left: 0px;
  padding-top: 0px;
  width: 100%;
  margin-top:10px;
}
.side-logo-single {
  padding: 15px;
}
.sidebar-brand-logos-inner.bg-gray-light {
  flex-flow: row wrap;
  align-items: center;
}
.section-title-5 .tab-section-title-2 ul li {
  padding: 0 12px;
}
.section-title.section-title-5 {
  padding: 0 20px;
}
.section-title-5 .tab-section-title-2 h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.slider-style-3 .slider-thumb {
  height: 473px;
}
.slider-style-3.slider-area .slider-btn-box a {
  height: 30px;
  line-height: 26px;
  padding: 0px;
}
.ptb-120 {
  padding: 60px 0;
}
.mbanner-large-thumb > img {
  width: 100%;
}
.sm-mt-30{
  margin-top: 30px;
}
.mbanner-small-content {
  width: 60%;
}
.offer-area-2 .tm-offer-content .tm-btn.mt-40 {
  margin-top: 20px;
}
.offer-area-2 .tm-offer-content h2 {
  font-size: 28px;
  line-height: 44px;
}
.offer-area-2 .tm-offer-content h4 {
  margin-bottom: 10px;
}
.offer-area-2 .tm-offer-thumb {
  align-items: flex-start;
  min-height:auto;
}
.all-features.style-2.style-3 ul li {
  padding: 35px 10px;
}
.not-found-bottom-inner > h1 {
  font-size: 120px;
  line-height: 85px;
}
.sm-mt-60{
  margin-top:60px;
}
.ct-continue-button a.subscribe-btn {
  width: auto;
}
.empty-cart-back a.subscribe-btn{
  width: auto;
}
.cp-right-sorting {
  margin-left: 20px;
  width: 60%;
}
.cp-right-sorting select{
  margin-left: 0px;
}
.full-width-list .product-action {
  margin-top: 10px;
}
.full-width-list .product-info > p {
  display: none;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-total {
  min-width: 130px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-qut {
  min-width: 130px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-price {
  min-width: 130px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-des {
  min-width: 315px;
}
.owl-nav-style-1.owl-theme .owl-nav [class*="owl-"] {
  height: 30px;
  line-height: 15px;
  top: 20px;
  width: 30px;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-prev {
  left: 0;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-next {
  right: 0;
}
.owl-nav-style-1 .owl-nav span {
  font-size: 20px;
}
.tm-size-color-single label, .tm-size-color-single h4 {
  width: 30%;
}
.tm-size-color-single select {
  width: 70%;
}
.single-product-description.style-2 .subscribe-btn {
  width: auto;
}
.account-box-top .account-form {
  width: 230px;
}
.full-width-list .ratting-box {
  font-size: 14px;
}
.full-width-list .ratting-box ul{
  padding-right: 0px;
}

.newsletter-form {
  padding: 0;
}

.slider-style-5 .slider-style-2-active .tm-slider-content-inner {
  padding: 0;
}
.tm-section.mtb-100{
   margin: 30px 0;
}
.billing-submit-button .subscribe-btn {
  width: 50%;
}



}


/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}

 .tm-section.ptb-100{
    padding:50px 0px;
}
.tm-section.pb-100{
    padding-bottom:50px;
}
 .search-area .btn-group.bootstrap-select {
  display: none;
  width: 100% !important;
}
.search-area input {
  border-right: 1px solid red;
  width: 100%;
}
.header-middle {
  align-items: center;
  display: flex;
  height: auto;
  margin-bottom: 30px;
}
.header-middle .row {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}
.search-area .subscribe-btn {
  height: 50px;
  margin-top: 15px;
  transform: none;
  width: 100%;
}
.header-middle .wish-cart {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
  margin-top: 30px;
}
.language-area.text-right {
    display: inline-block;
}
.header-top .row {
  flex-wrap: wrap;
  height: auto;
}
.search-area input {
  border-right: 1px solid #e0e0e0;
}
.search-area input:focus {
  border-right: 1px solid #e0e0e0;
}
.search-area form{
  flex-wrap: wrap;
}
.shopping-cart-list {
  width:270px;
}
.tm-slider-content {
  height: 420px;
  align-items: flex-start;
  margin-top: 20px;
}
.tm-slider-content h1 {
  font-size: 35px;
  line-height: 40px;
}
.tm-slider-content-inner div.slider-btn-box {
  margin-top: 20px;
}
a.tm-btn.large, .tm-btn.large {
  height: 50px;
  line-height: 46px;
  padding: 0 30px;
}
.slider-thumb {
  height: 350px;
  overflow: hidden;
  padding-top:20px;
}
.slider-style-1 .owl-dots {
  bottom: 10px;
}
.tab-section-title {
  flex-wrap: wrap;
  text-align: center;
}
.section-title h2 a {
  padding: 0;
}
.section-title .tab-section-title li + li{
  border-top:1px solid #aaa;
}
.section-title .tab-section-title li + li h2 a {
  border:none;
}
.section-title h2 {
  padding: 15px 0;
}
.slider-style-1 .owl-dots {
  left: 2%;
}
.owl-nav-style-1 .owl-nav span {
  font-size: 30px;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-prev {
  left: -30px;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-next {
  right: -30px;
}
.slider-style-1 .owl-dots {
    left: 50%;
    transform: translateX(-50%);
}

.tm-offer-content h2 {
  font-size: 30px;
  line-height: 40px;
}
.tm-offer-content h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.tm-offer-content h2.offer-time {
  font-size: 30px;
  margin-bottom:0px;
}
.tm-offer-content a.mt-40{
  margin-top:20px;
}
.tm-offer-thumb{
  min-height:auto;
}
.tm-offer-thumb img {
  margin-bottom: 0px;
}
.single-product {
  margin-top: 30px;
}
.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0;
}
.newsletter-form input, .newsletter-form button{
  width:100%;
  margin-right:0px;
}
.newsletter-form button{
  margin-top:20px;
}
.section-title-3 h2 {
  margin-bottom: 10px;
  font-size:20px;
}
.large-size-banner {
  display: flex;
  flex-flow: column-reverse wrap;
  margin-top:30px;
}
.large-size-banner div {
  width: 100%;
}
.small-banner-thumb img {
  width: 100%;
}
.large-banner-content .tm-btn {
  margin-top: 0;
}
.single-blog-content {
  padding: 20px 0;
}
.single-blog-post {
  margin-top: 30px;
}
.features-list {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.features-list > li {
  border-left: medium none !important;
  display: flex;
  padding: 10px 20px;
  width: 100%;
}
.footer-top-area.ptb-100, .footer-middle-area.ptb-100{
  padding:50px 0px;
}
.footer-widgets-subscribe{
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer-widgets-subscribe > div {
  width: 100% !important;
}
.footer-widgets-subscribe div + div{
  margin-top:40px;
}
.footer-section-title {
  margin-bottom: 15px;
}
.footer-middle-content p {
  margin-top: 20px;
}
.footer-copyright-area .row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.copyright-text {
  margin-top: 10px;
  text-align: center;
}
.payment-icons {
  text-align: center;
}
.account-language-area{
  display: flex;
  justify-content: center;
}
.account-box-top .account-form{
  width:250px;
}
.single-blog-thumb img{
  width:100%;
}
.single-product .product-thumb img{
  width:100%;
}
.large-size-banner div.large-banner-thumb {
  text-align: center;
}
.single-men-banner.small {
  margin-top: 30px;
  text-align: center;
}
.single-men-banner.medium {
  margin-top: 30px;
}
.section-title.section-title-2 h2 {
  font-size: 18px;
}
ul.tab-section-title li {
  width: 100%;
}
ul.tab-section-title li a{
  font-size: 18px;
}
.instagram-images ul {
  justify-content: flex-end;
}
.footer-instagram h4 {
  margin-left: 0px;
}
.instagram-images li {
  margin-right: 10px;
  margin-left: 0px;
}
.all-features.style-2 .features-list li p {
  margin-top: 15px;
}
.all-features.style-2 .features-list li {
  padding: 15px ;
}
.all-features.style-2.ptb-120 {
  padding: 30px 0;
}
.header-style-2 .account-language-area {
  justify-content: center;
}
#scrollUp {
  display: none !important;
}
.header-style-2 .wish-cart {
  height: 70px;
}
.search-form-2-inner {
  left: 0;
  right: auto;
}
.section-title.section-title-4 {
  flex-wrap: wrap;
  height: auto;
}
.section-title h2 {
  font-size: 18px;
}
.section-title.section-title-4 h2 {
  color: #000;
  padding: 15px 0 15px 20px;
}
.section-title.section-title-4 > a {
  height: auto;
  line-height: 50px;
  padding-left: 15px;
  text-align: left;
  width: 100%;
}
.tm-pa-single.large {
  height: auto;
  width: 100%;
}
.tm-pa-single.small{
  min-height:200px;
}
.tm-pa-single.large {
  flex-wrap: wrap;
}
.tm-pa-single.large .tm-pa-content {
  text-align: center;
  width: 100%;
  padding-bottom:30px;
}
.tm-pa-single.large .tm-pa-content .ratting-box {
  justify-content: center;
}
.tm-pa-single.large .tm-pa-content .product-action {
  justify-content: center !important;
}
.tm-pa-single.small{
  min-height: 250px;
}
.tm-section.ptb-100, .ptb-100{
  padding: 50px 0px;
}
.tm-section.pt-100{
  padding-top:50px;
}
.owl-nav-style-2 .owl-nav [class*="owl-"] {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  background:transparent;
}
.owl-nav-style-2 .owl-nav [class*="owl-"]:hover {
  background:none;
}
.owl-nav-style-2 .owl-nav .owl-next {
  right: -10px;
}
.owl-nav-style-2 .owl-nav .owl-prev {
  left:-10px;
  border-right: none;
}
.newsletter-form {
  padding: 0 15px;
}
.large-banner-content {
  text-align: center;
}
.large-banner-content .price-box {
  justify-content: center;
}
.footer-widgets-subscribe {
  text-align: center;
}
.instagram-images ul {
  justify-content: center;
}
.footer-style-2 .footer-social-icons .social-list {
  justify-content: center;
}
.features-list > li {
  justify-content: center;
}
.slider-2-inner {
  align-items: flex-start;
  flex-flow: column-reverse wrap;
  height: auto;
}
.slider-2-inner .tm-slider-content {
  padding-right: 0px;
  width: 100%;
}
.slider-2-inner .tm-slider-content-inner h1 {
  font-size: 36px;
  line-height: 42px;
}
.slider-thumb {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.sidebar-brand-logos {
  display: none;
}
.tm-pa-content-layout-2 {
  padding-right: 0;
  width: 100%;
}
.tm-pa-single-wrap {
  width: 100%;
  float:none;
}
.tm-pa-single-wrap.large-pro {
  width: 100%;
}
.section-title-5 .tab-section-title-2 {
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}
.section-title-5 .tab-section-title-2 ul {
  flex-wrap: wrap;
  padding-bottom: 5px;
}
.slider-style-3 .slider-thumb {
  height: 250px;
}
.slider-area.slider-style-3 {
  height: auto;
}
.slider-style-3 .tm-slider-content {
  height: auto;
  padding-bottom: 30px;
  padding-top:30px;
}
.single-pro-lay-b-thumb img {
  width: 100%;
}
.offer-abs-thumb {
  min-height: 200px;
  position: relative;
  top: 50px;
  width: 100%;
  transform: translateY(0%);
}
.col-md-4 + .col-md-4 .small-size-banner {
  margin-top: 30px;
}
.xs-mt-30{
  margin-top: 30px;
}
.slider-style-2.owl-dot-style-2 .owl-dots {
  bottom: 15px;
}
.slider-2-inner.xs-reverse {
  flex-flow: column wrap;
}
.mbanner-small {
  flex-wrap: wrap;
  height: auto;
  padding: 15px;
  justify-content: center;
}
.mbanner-small-content {
  padding-left: 0;
  padding-top: 15px;
  width: 100%;
}
.slider-2-inner {
  align-items: center;
}
.tm-offer-content {
  margin-top: 30px;
}
.offer-area-2 .tm-offer-thumb {
  align-items: flex-start;
}
.all-features.style-2.style-3 ul li {
  padding: 30px 20px;
}
.all-features.style-2.style-3 ul li + li{
    border-top: 1px solid #e0e0e0;
}
.xs-pt-0{
  padding-top:0px !important;
}
.tm-pagination li {
  padding: 10px 0;
}
.not-found-bottom-inner > h1 {
  font-size: 80px;
  line-height: 60px;
}
.not-found-bottom-inner > p {
  padding: 0;
}
.not-found-search-form > form {
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 0;
}
.not-found-search-form .subscribe-btn {
  margin-top: 20px;
  width: 100%;
}
.not-found-bottom-area a.back-button {
  margin-top: 20px;
}
.tm-section.ptb-80{
  padding:40px 0;
}
.breadcamb-wrap {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.breadcamb-current {
  padding: 20px 0;
  width:100%;
}
.breadcamb-links > ul > li:first-child {
  padding-left: 0;
}
.breadcamb-links > ul > li {
  line-height: 26px;
  padding-bottom: 20px;
}
.tm-pagination {
  margin-top: 20px;
}
.tm-pagination-area.pb-80 {
  padding-bottom: 40px;
}
.xs-mt-50{
  margin-top:50px;
}
h3.billing-sec-title {
  padding-bottom: 10px;
}
.billing-single-section + .billing-single-section {
  margin-top: 50px;
}
.billling-order-inner ul li {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 10px;
}
.billing-total-single > span {
  text-align: right;
}
.billing-submit-button {
  text-align: center;
}
table.compare-table td:not(.ct-pro-title) {
  padding: 0 70px;
}
.breadcamb-links {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ct-continue-button {
  text-align: center;
}
.contact-address-inner {
  float: none;
}
.order-track-inner .col-md-6 + .col-md-6 {
  margin-top: 30px;
}
.cp-right-sidebar {
  margin-top: 50px;
}
.cp-right-info {
  flex-wrap: wrap;
}
.single-product.full-width-list {
  flex-wrap:wrap;
  margin-top: 50px;
}
.full-width-list .product-info {
  margin-left: 0px;
  margin-top: 30px;
}
.full-width-list .product-action {
  margin-top: 10px;
}
.full-width-list .product-thumb {
  width: 100%;
}
.cp-right-sorting {
  width: 100%;
}
.tm-section.pt-80{
  padding-top:50px;
}
.cp-left-sidebar .cp-left-single + .cp-left-single {
  margin-top: 50px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-total {
  min-width: 100px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-qut {
  min-width: 100px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-price {
  min-width: 100px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-des {
  min-width: 300px;
}
table.cart-list-table thead tr th.tm-table-pro-name {
  min-width: 140px;
}
.table-pro-info {
  padding-left: 20px;
  padding-right: 20px;
}
.cart-single-box.tm-cart-total-area .subscribe-btn{
  padding:0px;
}
.owl-nav-style-1.owl-theme .owl-nav [class*="owl-"] {
  height: 30px;
  line-height: 28px;
  top: 0;
  width: 30px;
}

.owl-nav-style-1.owl-theme .owl-nav .owl-prev {
  left: 0;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-next {
  right: 0;
}
.owl-nav-style-1 .owl-nav span {
  font-size: 20px;
}
.tm-size-color-single label, .tm-size-color-single h4 {
  width: 30%;
}
.tm-size-color-single select {
  width: 70%;
}
h3.tm-single-product-title {
  margin-top: 10px;
}
.single-pro-reviews {
  flex-wrap: wrap;
}
.review-content-top {
  flex-wrap: wrap;
}
.reveiw-content {
  padding-left: 0px;
  margin-top:30px;
}
.subscribe-btn, button.subscribe-btn {
  padding: 0 20px;
}
.single-review-input {
  text-align: center;
}
.sin-pro-description-inner ul {
  margin-left: 15px;
}
.style-2 .single-pro-details-m-inner {
  flex-flow: column-reverse wrap;
}
.style-2 .single-pro-details-m-inner > form {
  width: 100%;
}
.style-2 .single-pro-best-view {
  width: 100%;
  margin-left: 0px;
  flex-wrap: wrap;
}
.style-2 .single-product-thumbs {
  display: flex;
  justify-content: right;
  margin-top:20px;
  margin-left: 0px;
}
.style-2 .single-pro-thumbs-list {
  flex-direction: row;
}
.single-product-description.style-2 .subscribe-btn {
  width: auto;
}
.single-product-description.style-2 .subscribe-btn {
  height: 60px;
  line-height: 30px;
  text-align: center;
}
.section-title.section-title-4 > a span.lnr {
  right:15px;
}

.section-title.section-title-4 > a:hover > span.lnr {
  right:10px;
}
.section-title-3 p {
  padding:0 10px;
}
.wish-cart li a span.lnr {
  font-size: 20px;
  line-height: 20px;
}
.header-middle .wish-cart {
  margin-bottom: 0px;
  margin-top: 0px;
}
.wish-cart ul li p {
  padding-top: 0px;
}
.cart-items {
  left: 3px;
}
.header-style-2 .header-middle .wish-cart{
  margin-top:20px;
  margin-bottom: 20px;
}
.header-style-2 .wish-cart > ul li a span.cart-items {
  left: 3px;
}
.search-area{
  width: 100%;
}
.search-area form{
  width: 100%;
}
.tm-slider-content-inner {
    text-align: center;
    margin-top: 30px;
}
.slider-style-2 .owl-dots {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.section-title-5 .tab-section-title-2 ul li {
  padding: 10px 20px;
}
.billing-submit-button .subscribe-btn {
  width: 100%;
}



}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
 .tm-slider-content {
  height: 340px;
}
.tab-section-title {
  flex-wrap:wrap;
  justify-content: center;
  flex-direction:column;
}
.single-blog-thumb > img {
  width: 100%;
}
#scrollUp {
  display: none !important;
}
.section-title-5 .tab-section-title-2 ul {
  justify-content: center;
}
.single-product-description.style-2 .subscribe-btn {
  height: 40px;
  line-height: 40px;
}
.slider-thumb img{
  height:100%;
  width: auto !important;
}

.offer-abs-thumb {
  top: 0px;
}




}




/* Large Mobile :480px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
.container {width:580px}
.product-list > .col-md-3.col-sm-4.col-lg-3.col-xs-12{
  width:50%;
}

.multi-banner-area .col-md-3.col-sm-6.col-lg-3.col-xs-12{
  width:50%;
}
.multi-banner-area .small-size-banner.xs-mt-30{
  margin-top: 0 !important;
}
.blog-area .col-md-6.col-sm-12.col-lg-6.col-xs-12{
  width:50%;
}



}