/*********************************************************************

    Template Name: Tanzim - eCommerce HTML Template  
    Template URI: https://themeforest.net/user/
    Description: This is html5 multipurpose e-connerce template
    Author: nilArtStudio
    Author URI: https://themeforest.net/user/nilArtStudio
    Version: 1.0

    Note: This is style css. ALl styles declare here.

*********************************************************************/



/*******************************************************************
                                START INDEX
******************************************************************
    
    01. Special offer area css
    02. Newsletter css
    03. Blog area css
    04. Features area styles
    05. Most popular area styles
    06. Owl nav style one
    07. Owl nav style two
    08. Page not found (404) styles
    09. Empty cart styles
    10. Breadcamb styles
    11. Order track page styles
    12. Contact page styles
    13. Google map
    14. Contact address styles
    15. Mens product 2 brand logo
    16. Cart list style
    17. Shopping cart styles
    18. Pagination css
    19. Brand logo styles
    20. Multibanner style 2
    21. Category page left slidebar
    22. Category page right sidebar styles
    23. Compare page styles
    24. Billing page styles
    25. Customuzer actions css
    26. Scroll To Top


******************************************************************
                                END INDEX
*******************************************************************/


/* 01. Special offer area css*/
.tm-offer-content h4 {
    color: #717171;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.tm-offer-content h2 {
    color: #000;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 15px;
}
.tm-offer-content p {
    color: #727272;
    margin-bottom: 25px;
}
.tm-offer-content h2.offer-time {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.tm-offer-thumb {
	align-items: flex-end;
	display: flex;
	min-height: 480px;
}
.tm-offer-thumb img{
	margin-bottom: 60px;
}
/*Offer thumb style 2*/
.tm-offer-thumb.style-2 {
  height: inherit;
}
.tm-offer-thumb.style-2 > img {
  margin-bottom: 0;
}
/*Offer area realative*/
.offer-area-rel{
    position: relative;
}
.offer-abs-thumb{
    padding-left: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

/* 02. Newsletter css*/
.newsletter-form {
  display: flex;
  padding: 0 55px;
  margin-top:55px;
}
.newsletter-form input {
  border: 2px solid #d4d4d4;
  color: #727272;
  font-size: 15px;
  height: 50px;
  margin-right: 10px;
  padding: 0 20px;
  width: 72%;
}
.newsletter-form input:focus {
    border: 2px solid #000;
}

/* 03. Blog area css*/
.single-blog-post{
    margin-top: 50px;
}
.single-blog-post:hover .single-blog-thumb::before {
    opacity:1;
}
.single-blog-thumb{
    position: relative;
}
.single-blog-thumb:before{
    background: linear-gradient(rgba(0,0,0,0.5), transparent, rgba(0,0,0,0.5));
    content:"";
    height:100%;
    width:100%;
    left:0;
    top:0;
    position:absolute;
    opacity:0;
    transition: all 0.3s ease 0s;
}
.single-blog-content {
    padding: 50px 0;
}
.single-blog-content .blog-date {
    color: #717171;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.single-blog-content h3 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 12px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out 0s;
}
.single-blog-content a:hover h3 {
    color: #727272;
}
.single-blog-content p {
    color: #727272;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 22px;
    margin-top: 20px;
}

/* 04. Features area styles*/
.all-features.style-1{
  border: 1px solid #e0e0e0;
  padding: 25px 0;
}
.features-list {
    display: flex;
    justify-content: space-around;
}
.features-list > li {
    color: #000;
    display: flex;
    font-size: 18px;
    line-height: 28px;
    padding:12px 47px;
}
.features-list li p {
    margin-left: 20px;
}
.features-list li span {
    color: #000;
    font-size: 24px;
    line-height: 26px;
}
.features-list li + li{
    border-left: 1px solid #E0E0E0;
}

/*Features style 2*/
.all-features.style-2 {
    border: medium none;
}
.all-features.style-2 .features-list li {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    width:100%;
}
.all-features.style-2 .features-list li span {
    color: #727272;
    font-size: 48px;
    line-height: 48px;
    transition: all 0.3s ease-in-out 0s;
}
.all-features.style-2 .features-list li p{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
    text-transform: uppercase;
    margin-left: 0px;
}

/*all features style 3*/
.all-features.style-2.style-3 ul li {
    padding: 70px 30px;
    transition: all 0.3s ease-in-out 0s;
}
.all-features.style-2.style-3 ul li:hover{
    background: #F1F1F1;
}
.all-features.style-2.style-3 ul {
    border: 1px solid #e0e0e0;
}
.all-features.style-2.style-3 .features-list p {
    margin-top: 30px;
}
.all-features.style-2.style-3 {
    margin-top: 60px;
}



/* 05. Most popular area styles */
.product-list.featured-products.tab-pane:not(.active) {
  display: none;
}
.owl-carousel.featured-products .col-md-3{
    width: 100%;
}
.section-title li.active h2 a, .section-title li.active a {
  color: #000;
}

/* 06. Owl nav style one*/
.owl-nav-style-1 .owl-nav {
    margin: 0;
}
.owl-nav-style-1.owl-theme .owl-nav [class*="owl-"] {
    background: transparent;
    border-radius: 0;
    font-size: 48px;
    height: 50px;
    line-height: 47px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    color:#CACACA;
}
.product-list.owl-nav-style-1 {
    position: relative;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-next {
    left: auto;
    right: -20%;
}
.owl-nav-style-1.owl-theme .owl-nav .owl-prev {
    left: -20%;
    right: auto;
}
.owl-nav-style-1.owl-theme .owl-nav > div span:hover{
    color:#555;
}

/* 07. Owl nav style two */
.owl-nav-style-2 .owl-nav [class*="owl-"] {
  background: #e6e6e6 none repeat scroll 0 0;
  border-radius: 0;
  color: #cacaca;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  padding: 0;
  position: absolute;
  top: -76px;
  width: 80px;
}
.owl-nav-style-2 .owl-nav [class*="owl-"]:hover{
    background: #e6e6e6 none repeat scroll 0 0;
}
.owl-nav-style-2 .owl-nav [class*="owl-"] > span{
    transition: all 0.3s ease 0s;
}
.owl-nav-style-2 .owl-nav [class*="owl-"]:hover > span{
    color:#666;
}
.owl-nav-style-2 .owl-nav .owl-prev {
  border-right: 1px solid #ccc;
  right: 90px;
}
.owl-nav-style-2 .owl-nav .owl-next {
  right: 10px;
}

/*08. Page not found (404) styles */
.not-found-bottom-inner > h1 {
    color: #000;
    font-size: 180px;
    line-height: 135px;
}
.not-found-bottom-inner > h4 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
    text-transform: uppercase;
}
.not-found-bottom-inner > p {
    color: #727272;
    font-size: 15px;
    line-height: 28px;
    margin-top: 20px;
    padding: 0 100px;
}
.not-found-search-form > form {
    display: flex;
    margin-top: 45px;
    padding: 0 35px;
}
.not-found-bottom-area a.back-button {
    margin-top: 50px;
}
a.back-button {
    color: #000;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    transition:all 0.3s ease 0s;
    position: relative;
}

a.back-button span.lnr {
    left: -25px;
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    transition: all 0.3s ease 0s;
}
a.back-button:hover {
    color: #727272;
}
a.back-button:hover > span.lnr {
    left: -30px;
}
.not-found-search-form .subscribe-btn {
    padding: 0 70px;
}

/* 09. Empty cart styles */
.empty-cart-icon {
  align-items: center;
  border: 5px solid #d9d9d9;
  border-radius: 100%;
  display: flex;
  height: 120px;
  justify-content: center;
  margin: auto;
  width: 120px;
}
.empty-cart-inner h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 45px;
    text-transform: uppercase;
}
.empty-cart-inner > p {
    color: #727272;
    font-size: 15px;
    line-height: 28px;
    margin-top: 25px;
}
.empty-cart-back a.subscribe-btn {
    display: inline-block;
    padding: 0 45px;
}
.empty-cart-back {
    margin-top: 55px;
}

/* 10. Breadcamb styles */
.breadcamb-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.breadcamb-current > h4 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.breadcamb-links > ul {
    display: flex;
}
.breadcamb-links > ul > li {
    color: #727272;
    font-size: 16px;
    line-height: 80px;
    padding-left: 10px;
    text-transform: uppercase;
}
.breadcamb-links > ul > li::before {
    content: "";
    font-family: fontawesome;
    padding-right: 10px;
}
.breadcamb-links > ul > li:first-child::before {
    display: none;
}
.breadcamb-links li > a {
    color: #000;
    transition:all 0.3s ease 0s;
}
.breadcamb-links li > a:hover {
    color: #727272;
}

/* 11. Order track page styles */
.order-track-inner {
    margin-top: 70px;
}
.order-track-inner .subscribe-btn {
    margin-top: 50px;
    padding: 0 75px;
}
.order-track-inner label {
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
}

/* 12. Contact page styles */
.contact-single-input label {
    color: #000;
    padding-bottom: 6px;
    text-transform: uppercase;
}
.contact-single-input {
    margin: 25px 0;
}
.contact-page-inner .contact-single-input:first-child{
    margin-top:0px;
}
.contact-page-inner {
    margin-top: 55px;
}
.contact-single-input textarea {
    min-height: 195px;
}
.contact-single-input .subscribe-btn{
  display: block;
  width: 100%;
}

/* 13. Google map */
.google-map{
  height:600px;
}

/* 14. Contact address styles */
.contact-page-map {
    position: relative;
}
.contact-address {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: inline-block;
}
.contact-address-inner {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  float: right;
  padding: 45px 80px;
}
.contact-address-card li {
    color: #727272;
    font-size: 15px;
    margin: 20px 0;
    position: relative;
}
.contact-address-card li span.lnr {
    font-size: 18px;
    left: -30px;
    line-height: 22px;
    position: absolute;
}
.contact-address-card li > a {
    color: #727272;
    font-size: 15px;
}

/* 15. Mens product 2 brand logo */
.sidebar-brand-logos-inner.bg-gray-light {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: space-around;
    padding: 20px 0;
}
.side-logo-single > a {
    display: block;
}
.side-logo-single > a img{
    transition:all 0.3s ease 0s;
}
.side-logo-single > a:hover img{
    opacity: 0.5;
}


/* 16. Cart list style */
table.cart-list-table thead {
    height: 75px;
}
table.cart-list-table thead tr th {
    border: 1px solid #e0e0e0;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight:700;
}
table.cart-list-table {
    text-align: center;
}
table.cart-list-table thead tr th.tm-table-pro-name {
    min-width: 170px;
}
table.cart-list-table thead tr th.tm-table-pro-des {
    min-width: 260px;
}
table.cart-list-table thead tr th.tm-table-pro-price {
    min-width: 125px;
}
table.cart-list-table thead tr th.tm-table-pro-qut {
    min-width: 130px;
}
table.cart-list-table thead tr th.tm-table-pro-ss {
    min-width: 195px;
}
table.cart-list-table thead tr th.tm-table-pro-btn {
    min-width: 195px;
}
table.cart-list-table thead tr th.tm-table-pro-remove-btn {
    min-width: 64px;
}
table.cart-list-table tbody td {
    border: 1px solid #e0e0e0;
    padding: 30px 0;
}
.table-pro-info{
    padding-left: 40px;
    padding-right: 40px;
}
.table-pro-info > a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}
.table-pro-info > a:hover {
    color: #727272;
}
.table-pro-info {
    font-size: 15px;
}
.table-pro-size > span {
    text-transform: uppercase;
}
.table-pro-id {
    text-transform: uppercase;
}
table.cart-list-table .subscribe-btn {
    height: 40px;
    letter-spacing: inherit;
    line-height: 40px;
    padding: 0 20px;
}
table.cart-list-table input.pro-count {
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: 55px;
}
button.cross-btn {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #727272;
  transition: all 0.3s ease 0s;
  font-size: 18px;
}
button.cross-btn:hover {
  color: #f10;
}
td.table-pro-price, td.table-pro-stock, td.total-by-product{
    font-weight:700;
    color: #727272;
}

/* 17. Shopping cart styles */
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-des {
    min-width: 335px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-price{
    min-width: 210px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-qut{
    min-width: 180px;
}
table.cart-list-table.shopping-cart thead tr th.tm-table-pro-total{
    min-width: 180px;
}
/*Shopping cart bottom area*/
.tm.cart-single-box {
    border: 1px solid #e0e0e0;
    margin-top: 50px;
    padding: 50px 30px;
}
.tm.cart-single-box.tm-cart-total-area {
    background: #f1f1f1 none repeat scroll 0 0;
    border: medium none;
}
.tm-cart-title {
    color: #000;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.cart-single-input {
    margin-top: 20px;
}
.cart-btn {
    background: #f1f1f1 none repeat scroll 0 0;
    border: medium none;
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    outline: medium none;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}
.cart-btn:hover {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #000;
}
.cart-single-input select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background: rgba(0, 0, 0, 0) url("images/icons/down-array.png") no-repeat scroll right center;
}
.cart-single-input option {
  border: medium none;
  box-shadow: none;
  padding: 5px 15px;
}
.sp-cart-subtotal h4 {
    color: #727272;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.sp-cart-subtotal h4 > span {
    float: right;
}
.sp-cart-grandtotal > h3 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.sp-cart-grandtotal h3 > span {
    color: #ff4136;
    float: right;
}
.sp-cart-subtotal {
    margin-bottom: 30px;
}
.sp-cart-grandtotal {
    margin-bottom: 35px;
}
.tm-cart-total-area .subscribe-btn {
    font-size: 16px;
    letter-spacing: 1px;
    width: 100%;
}
/*Product quantity*/
.cart-quantity {
    display: inline-block;
    position: relative;
    width: 140px;
}
.cart-quantity input[type="text"] {
  padding: 0;
  text-align: center;
  width: 140px;
  height:40px;
}
.qtybutton {
  color: #727272;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  height:40px;
  width: 35px;
}
.inc.qtybutton {
  left: auto;
  right: 0px;
}
/* 18. Pagination css */
.tm-pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.tm-pagination li {
    padding: 10px 5px;
}
.tm-pagination li a {
    color: #727272;
    font-size: 16px;
    font-weight: 700;
    padding: 0 8px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}
.tm-pagination .prev-next > a:hover {
    color: #000;
    text-decoration: none;
}
.tm-pagination .prev-next > a{
    color: #727272;
    transition: all 0.3s ease-in-out 0s;
}
.tm-pagination li.active > a, .tm-pagination li a:hover{
    color: #000;
    text-decoration: underline;
}

/* 19. Brand logo styles */
.brand-logo-activator .col-md-3{
    width: 100%;
}
.brand-logo-single {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 75px;
  overflow: hidden;
}
.brand-logo-single > a {
  display: flex;
  transition: all 0.3s ease-in-out 0s;
  height: 100%;
}
.brand-logo-single > a:hover {
    opacity: 0.6;
}

/* 20. Multibanner style 2 */
.mbanner-large {
    position: relative;
}
.mbanner-large a{
    position: relative;
    display: block;
}
.mbanner-large a:before{
    position: absolute;
    content:"";
    background: rgba(0,0,0,0.2);
    height:100%;
    width: 100%;
    left: 0;
    top:0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}
.mbanner-large a:hover:before{
    opacity: 1;
}
.mbanner-large-content {
    color: #727272;
    position: absolute;
    right: 5%;
    top: 8%;
    z-index: 1;
}
.mbanner-large-content > h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.mbanner-large-content > p {
    margin-top: 12px;
}
.mbanner-large-content .discount-rate {
    margin-top: 12px;
}
.discount-rate > span {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.mbanner-small {
    align-items: center;
    background: #f1f1f1 none repeat scroll 0 0;
    display: flex;
    height: 240px;
    padding: 35px 45px;
    width: 100%;
}
.mbanner-small-content {
    color: #727272;
    padding-left: 15px;
    text-align: center;
    width: 45%;
}
.mbanner-small-content .tm-btn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}
.mbanner-small-content > h2 {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.mbanner-small-content > p {
    padding: 20px 0;
}
.mbanner-small.reverse {
    flex-direction: row-reverse;
}
.reverse .mbanner-small-content {
    padding-left: 0;
    padding-right: 15px;
}

/* 21. Category page left slidebar */
.cp-left-single .cp-left-title {
    border-bottom: 1px solid #e0e0e0;
    color: #000;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.cp-left-sidebar .cp-left-single + .cp-left-single {
    margin-top: 70px;
}
.cp-colored-items, .cp-size-items, .cp-brand-items {
    color: #727272;
    float: right;
    font-size: 16px;
    line-height: 26px;
}
.cp-left-single ul li a {
    color: #000;
    font-size: 16px;
    line-height: 26px;
    transition: all 0.3s ease-in-out 0s;
}
.cp-size-option-body ul li a, .cp-color-body ul li a {
    padding-left: 35px;
    position: relative;
}
.cp-size-option-body ul li a::before {
    border: 2px solid #c1c1c1;
    border-radius: 100%;
    content: "";
    display: block;
    height: 13px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    transition:all 0.3s ease-in-out 0s;
}
.cp-size-option-body ul li.current a::before, .cp-size-option-body ul li a.hovered:before{
    background: #09071e;
}
.cp-size-option-body ul li.current a::before, .cp-size-option-body ul li a:hover:before{
    background:#c1c1c1;
}
.cp-color-body ul li a::before {
    background: blue none repeat scroll 0 0;
    content: "";
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
}
.cp-color-body ul li.blue a::before{
    background:blue;
}
.cp-color-body ul li.yellow a::before{
    background:yellow;
}
.cp-color-body ul li.red a::before{
    background:red;
}
.cp-color-body ul li.green a::before{
    background:green;
}
.cp-color-body ul li.black a::before{
    background:black;
}
.cp-color-body ul li.orange a::before{
    background:orange;
}
.cp-color-body ul li.purple a::before{
    background:purple;
}
.cp-color-body ul li.gold a::before{
    background:gold;
}
.cp-left-single ul li a:hover {
    color: #727272;
}
.cp-category-body ul li a {
    display: block;
    height: 60px;
    line-height: 60px;
}
.cp-category-body > ul li + li a {
    border-top: 1px solid #e0e0e0;
}
.cp-category-body ul li a i.fa {
    float: right;
    font-size: 12px;
    line-height: 60px;
}
.cp-category-sub {
    display: none;
    height: 100%;
    left: 0;
    position: relative;
    top: 100%;
    width: 100%;
}
.cp-category-body > ul > li {
    position: relative;
}
.cp-category-sub > li > a {
    padding-left: 25px;
    border-top: 1px solid #e0e0e0;
}
.cp-category-sub > li.current > ul.cp-category-sub{
    display:block;
    height:100%;
} 

/* 22. Category page right sidebar styles */
.cp-right-info {
    display: flex;
    justify-content: space-between;
}
.cp-right-info > div {
    display: flex;
}
.cp-right-view ul {
    display: flex;
    padding-left: 15px;
}
.cp-right-label {
    color: #727272;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: inherit;
}
.cp-right-sorting > select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background: rgba(0, 0, 0, 0) url("images/icons/down-array.png") no-repeat scroll right center;
    border: medium none;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    height: 26px;
    margin-left: 20px;
    outline: medium none;
    text-transform: uppercase;
    width: 110px;
}
.cp-view-styles li {
    padding: 0 6px;
}
.cp-right-sorting option {
    border: medium none;
    outline: medium none;
    padding: 5px 0;
}

/* 23. Compare page styles */
table.compare-table {
    color: #727272;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}
table.compare-table th {
    border: 1px solid #e0e0e0;
    font-size: 15px;
    text-align: center;
}
table.compare-table td {
    border: 1px solid #e0e0e0;
}
.ct-title-line th {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
.ct-pro-title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    width: 182px;
}
.copmare-product-single {
    padding: 40px 0;
}
table.compare-table .price-box span.price {
    padding-left: 20px;
}
table.compare-table .price-box {
    color: #000;
}
table.compare-table .product-action {
    display: inline-flex;
}
.ct-continue-button > a.subscribe-btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.ct-continue-button {
    margin-top: 40px;
}

/* 24. Billing page styles */
h3.billing-sec-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.bs-single-input label {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.bs-single-input {
    margin-top: 25px;
}
.billing-single-section + .billing-single-section {
    margin-top: 70px;
}
.billling-order-inner {
    border: 1px solid #e0e0e0;
}
.billing-title-line {
    background: #f1f1f1 none repeat scroll 0 0;
    border:none;
}
.billing-title-line > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.billling-order-inner ul li {
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    min-height: 75px;
    padding: 0 30px;
}
.billing-single-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.billing-single-product h6 a{
    color: #727272;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    transition: all 0.3s ease-in-out 0s;
}
.billing-single-product h6 a:hover{
    color: #000;
}
.billing-title-line h4 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.billing-total-inner {
    padding: 30px 0;
}
.billing-total-single {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:10px 0;
}
.billing-total-body {
    display: block !important;
}
.billing-total-single > h6 {
    color: #727272;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
}
.billing-total-single.grand-total h6 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}
.billing-total-single.grand-total {
    padding-top: 25px;
    padding-bottom:10px;
}
.billing-total-single.grand-total > span {
    color: #ff4136;
    font-size: 18px;
    font-weight: 700;
}
.billling-order-inner ul li:last-child {
    border-bottom: medium none;
}
.single-payment-method > p {
    margin-top: 20px;
}
.single-payment-method {
    margin-top: 30px;
}
.single-payment-method input[type="radio"] {
  left: 0;
  position: absolute;
  visibility: hidden;
}
.single-payment-tile {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding-left: 40px;
    position: relative;
}
.single-payment-tile::before {
    background: transpareant;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    border: 1px solid #E0E0E0;
    transition: all 0.3s ease-in-out 0s;
}
.single-payment-method input[type="radio"]:checked ~ .single-payment-tile::before{
    background: #E0E0E0;
}
.billing-submit-button .subscribe-btn {
    padding: 0 80px;
}
.billing-submit-button {
    margin-top: 35px;
}
/*cp-price-range-body*/
.ui-slider-handle.ui-state-default.ui-corner-all {
  background: #e6e6e6 none repeat scroll 0 0;
  border: 5px solid #000;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}
.ui-slider-horizontal .ui-slider-range {
    background: #000 none repeat scroll 0 0;
}
.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 0px solid #efefef;
    border-radius: 2px;
    height: 5px;
    margin-bottom: 20px;
}
.ui-slider .ui-slider-handle {
    top: -8px;
}
.cp-price-range-body form input{
    border: none;
    height: auto;
    padding-left: 0;
    text-align: right;
}

/* 25. Customuzer actions css */
.boxed-layout.wrapper, .box-layout.wrapper {
  background-color: #fff;
  box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  margin: auto;
  position: relative;
  max-width: 1240px;
  width: 100%;
}
.boxed-layout .sticky, .box-layout .sticky {
  left: auto;
  margin: auto;
  width: 1240px;
}
/*Background Patterns*/
.pattern-1 {
    background-image: url("images/customizer/pattern/1.png");
}
.pattern-2 {
    background-image: url("images/customizer/pattern/2.png");
}
.pattern-3 {
    background-image: url("images/customizer/pattern/3.png");
}
.pattern-4 {
    background-image: url("images/customizer/pattern/4.png");
}
.pattern-5 {
    background-image: url("images/customizer/pattern/5.png");
}
.pattern-6 {
    background-image: url("images/customizer/pattern/6.png");
}
.pattern-7 {
    background-image: url("images/customizer/pattern/7.png");
}
.pattern-8 {
    background-image: url("images/customizer/pattern/8.png");
}

/*Background Images*/
.main-bg-1,.main-bg-2,.main-bg-3,.main-bg-4,.main-bg-5,.main-bg-6,.main-bg-7,.main-bg-8 {
    background-image: url("images/customizer/bodybg/01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.main-bg-2 {
    background-image: url("images/customizer/bodybg/02.jpg");
}
.main-bg-3 {
    background-image: url("images/customizer/bodybg/03.jpg");
}
.main-bg-4 {
    background-image: url("images/customizer/bodybg/04.jpg");
}
.main-bg-5 {
    background-image: url("images/customizer/bodybg/05.jpg");
}
.main-bg-6 {
    background-image: url("images/customizer/bodybg/06.jpg");
}
.main-bg-7 {
    background-image: url("images/customizer/bodybg/07.jpg");
}
.main-bg-8 {
    background-image: url("images/customizer/bodybg/08.jpg");
}

/* 26. Scroll To Top */
#scrollUp {
  background: #c5c5c5 none repeat scroll 0 0;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 28px;
  height: 35px;
  line-height: 34px;
  position: fixed;
  right: 50px;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  width: 50px;
  z-index: 200;
}
 #scrollUp:hover {
  opacity:0.7;
  height: 45px;
  line-height: 45px;
}

/*Form messege styles*/
p.form-messege{margin-top:15px;font-size:20px}
p.success {
  color: green;
}
p.error {
  color: red;
}