<!-- Start Header bottom area -->
<div class="header-bottom-area hidden-xs hidden-sm bg-white full-width-mega-menu">
    <div class="container">
        <div class="full-width-mega-menu-wrap">
            <div class="row">
                <div class="col-md-10 col-lg-12 col-sm-12 col-xs-12">
                    <!-- Start main menu -->
                    <nav id="primary-menu" class="full-width">
                        <ul class="main-menu">
                            <li class="plus active-mega-menu">
                                <a href="{{ path('homePage') }}">Главная</a>
                            </li>
                            {% for category in categories %}
                            <li class="plus active-mega-menu full-width">
                                <a href="{{ path('getCategory', {'id': category.id }) }}">{{ category.cname }}</a>
                                {% if category.children|length %}
                                <!-- start mega menu -->
                                <div class="megamenu-area">
                                    <ul class="megamenu">
                                        {% for child in category.children %}
                                        <li class="mega-child">
                                            <span class="mega-title">
                                                <a href="{{ path('getCategory', {'id': child.id }) }}">{{ child.cname }}</a>
                                            </span>
                                            {% if child.children|length %}
                                                <ul class="mega-dropedown">
                                                    {% for ch in child.children %}
                                                        <li>
                                                            <a href="{{ path('getCategory', {'id': ch.id }) }}">{{ ch.cname }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                <!-- End mega menu -->
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <!-- End main menu -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header bottom area -->