<nav class="cat-dropdown-wrap">
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('getCategory', {'id': category.id }) }}">{{ category.cname }}
                    {% if category.children|length > 0 %}
                        <span class="lnr lnr-chevron-right"></span>
                    {% endif %}
                </a>

                <div class="cat-sub-dropdown">
                {% if category.children|length %}
                    {% for child in category.children %}
                        <div class="cat-sub-dropdown-single">
                            <h5 class="cat-dropdown-title">{{ child.cname }}</h5>
                            {% if child.children|length %}
                                <ul class="cat-dropdown">
                                    {% for ch in child.children %}
                                        <li>
                                            <a href="{{ path('getCategory', {'id': ch.id }) }}">{{ ch.cname }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</nav>