{% extends "::base.html.twig" %}

{% block title %}{{ sonata_seo_title() }}{% endblock %}

{% block body %}
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : category.cname} %}
        <!-- End breadcamb area -->

        <!-- Start category page area -->
        <div class="tm-section bg-white category-page-area pt-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                        <!-- Start category page left sidebar -->
                        <div class="cp-left-sidebar">
                            <!-- Start cp category menu -->
                            {% if parents|length %}
                            <div class="cp-category-menu cp-left-single">
                                <h3 class="cp-left-title">подкатегория</h3>
                                <div id="category-menu-active" class="cp-category-body">
                                    <ul>
                                        {% for parent in parents %}
                                        <li>
                                            {% if parent.children|length %}
                                                <a href="{{ path('getCategory', {'id': parent.id }) }}">{{ parent.cname }} <i class="fa fa-plus"></i></a>
                                                <ul class="cp-category-sub">
                                                    {% for child in parent.children %}
                                                        <li><a href="{{ path('getCategory', {'id': child.id }) }}">{{ child.cname }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <a href="{{ path('getCategory', {'id': parent.id }) }}">{{ parent.cname }}</a>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <!-- End cp category menu -->
                            <!-- Start cp price range -->
                            <div class="cp-price-range cp-left-single">
                                <h3 class="cp-left-title">Цена</h3>
                                <div class="cp-price-range-body">
                                    <form action="#">
                                        <div id="slider-range"></div>
                                        <input type="text" id="amount" readonly>
                                    </form>
                                </div>
                            </div>
                            <!-- End cp price range -->
                            <!-- Start cp sizing option -->
                            <div class="cp-sizing-option cp-left-single">
                                <h3 class="cp-left-title">Бренды</h3>
                                <div class="cp-size-option-body">
                                    <ul>
                                        {% for brand in brands %}
                                        <li class="brand">
                                            <a href="javascript:void(0);" data-id="{{ brand.id }}" class="{% if brand.id in brnd %}hovered{% endif %}">
                                                <span class="size-active-box"></span>{{ brand.name }}<span class="cp-size-items"></span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- End cp sizing option -->

                            <div class="cp-price-range cp-left-single">
                                <div class="product-action">
                                    <a href="javascript:FilterSubmit();" class="pro-btn add-to-cart">Фильтр</a>
                                </div>
                            </div>
                        </div>
                        <!-- End category page right sidebar -->
                    </div>
                    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12">
                        <!-- Start category page right sidebar -->
                        <div class="cp-right-sidebar">
                            <!-- Start right sidebar category info -->
                            <div class="cp-right-info">
                                <div class="cp-right-showing">
                                    <h5 class="cp-right-label">Продукты от&nbsp;{{ goods.getPaginationData['firstItemNumber'] }}&nbsp;до&nbsp;{{ goods.getPaginationData['lastItemNumber'] }} из&nbsp;{{ goods.getTotalItemCount }}</h5>
                                </div>
                            </div>
                            <!-- End right sidebar category info -->

                            <!-- Start category page product lists -->
                            <div class="cp-right-products">
                                <div class="tab-content">
                                    <!-- Start gridview products -->
                                    <div  id="grid-view" class="tab-pane fade in active" role="tabpanel">
                                        <div class="row">
                                            {% for product in goods %}
                                                <!-- Start Single profuct -->
                                                <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">
                                                    <div class="single-product">
                                                        <div class="product-thumb">
                                                            <a href="{{ path('goodsGetInfo', {'id': product.id }) }}">
                                                                {% if product.imagePath|length > 0 %}
                                                                    <img class="front-img" src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_262' %}">
                                                                    {% if product.imagePath.GalleryHasMedias|length > 1 %}
                                                                        <img class="back-img" src="{% path product.imagePath.GalleryHasMedias[1].media, 'goods_262' %}" alt="img" >
                                                                    {% else %}
                                                                        <img class="back-img" src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_262' %}" alt="img" >
                                                                    {% endif %}
                                                                {% else %}
                                                                    <img class="front-img" src="{{ asset('public/images/noimage/noimage_262.jpeg') }}" alt="img">
                                                                {% endif %}
                                                            </a>
                                                        </div>
                                                        <div class="product-info">
                                                            <div class="pro-title">
                                                                <h4>
                                                                    <a href="{{ path('goodsGetInfo', {'id': product.id}) }}" title="{{ product.name }}">
                                                                        {{ product.name }}
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div class="pro-price-ratting">
                                                                <div class="price-box">
                                                                    <span class="price">{{ product.price }} сом</span>
                                                                    {% if product.oldPrice %}
                                                                        <span class="old-price">{{ product.oldPrice }} сом</span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="product-action">
                                                                <a href="javascript:void(0);" onclick="Basket.addProductToBasket({{ product.id }}, '{{ product.name }}')" class="pro-btn add-to-cart">Купить</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single profuct -->
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <!-- End gridview products -->
                                </div>
                            </div>
                            <!-- End category page product lists -->
                        </div>
                        <!-- End category page right sidebar -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End category page area -->


        {{ knp_pagination_render(goods, 'CatalogBundle:Pagination:pagination.html.twig') }}

    </section>
    <!-- End page content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        /* 10. Price slider active ----------------------*/
        $( '#slider-range' ).slider({
            range: true,
            min: 0,
            max: 5000,
            values: [ {{ price[0] }}, {{ price[1] }} ],
            slide: function( event, ui ) {
                $( '#amount' ).val( ui.values[ 0 ] + ' сом' + ' - ' + ui.values[ 1 ] + ' сом' );
            }
        });

        $( '#amount' ).val($( '#slider-range' ).slider( 'values', 0 ) + ' сом - ' +
            $( '#slider-range' ).slider( 'values', 1 ) + ' сом' );
        $(document).ready(function ()
        {
            $('.brand').click(function ()
            {
                if($('a', this).attr('class') !== 'hovered')
                {
                    $('a', this).addClass('hovered')
                }
                else
                {
                    $('a', this).removeClass('hovered')
                }
            });
        });

        function FilterSubmit() {
            var baseUrl = window.location.host + window.location.pathname;
            var hoveredBrands = $('li > a.hovered');
            var brands = '[';
            var price = $( '#amount' ).val().split('-');
            $.each(hoveredBrands, function (index) {
                console.log($(this).data("id"));
                brands = brands + $(this).data("id");
                if(hoveredBrands.length === index+1){

                }
                else {
                    brands = brands + ",";
                }
            });
            brands = brands + "]";
            var start = price[0].split(' ')[0];
            var finish = price[1].split(' ')[1];
            var route = baseUrl + "?brand=" + brands + "&price=[" + start + "," + finish + "]";
            window.location.href = "http://" + route;
        }
    </script>
{% endblock %}