<nav role="navigation" class="f_left f_xs_none d_xs_none">
    <ul class="horizontal_list main_menu clearfix">
        {% for category in categories %}
            <li class="relative f_xs_none m_xs_bottom_5">
                <a href="#" class="tr_delay_hover color_light tt_uppercase"><b>{{ category.cname }}</b></a>
                {% if category.children|length > 0 %}
                <!--sub menu-->
                    <div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
                        <ul class="sub_menu">
                            {% for child in category.children %}
                                <li><a class="color_dark tr_delay_hover" href="#">{{ child.cname }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>