{% extends "::base.html.twig" %}

{% block body %}
    {% render(controller("ShopSliderBundle:Default:index")) %}

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start category page area -->
        <div class="tm-section bg-white category-page-area pt-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <!-- Start category page right sidebar -->
                        <div class="cp-right-sidebar">
                            <!-- Start category page product lists -->
                            <div class="cp-right-products">
                                <div class="tab-content">
                                    <!-- Start gridview products -->
                                    <div  id="grid-view" class="tab-pane fade in active" role="tabpanel">
                                        <div class="row">
                                            {% render(controller('CatalogBundle:Goods:index')) %}

                                        </div>
                                    </div>
                                    <!-- End gridview products -->
                                </div>
                            </div>
                            <!-- End category page product lists -->
                        </div>
                        <!-- End category page right sidebar -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End category page area -->

    </section>
    <!-- End page content -->
{% endblock %}