<div class="mobile-menu-area hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mobile-logo">
                    <a href="{{ path('homePage') }}">
                        <img src="{{ asset('public/images/logo.png') }}" alt="Mobile logo">
                    </a>
                </div>
                <nav id="mobile_dropdown">
                    <ul>
                        {% for menu in categories %}
                            <li>
                                <a href="{{ path('getCategory', {'id':menu.id}) }}">{{ menu.cname }}</a>
                                {% if menu.children|length > 0 %}
                                    <ul>
                                        {% for child in menu.children %}
                                            <li><a href="{{ path('getCategory', {'id':child.id}) }}">{{ child.cname }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>