<!-- Start of slider area -->
<div id="tm-slider" class="slider-area slider-style-4 left-side-menu-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-gray-light">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="slider-style-2-active  slider-style-2 owl-carousel owl-theme owl-dot-style-2">
                                <!--Start Single slide -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="slider-2-inner xs-reverse">
                                            <div class="slider-thumb">
                                                <img src="{{ asset('public/images/slider/9.png') }}" alt="slider image">
                                            </div>
                                            <div class="tm-slider-content">
                                                <div class="tm-slider-content-inner">
                                                    <h4>New Arrivals</h4>
                                                    <h1>Flip up shirt</h1>
                                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                                    <div class="slider-btn-box mt-40">
                                                        <a href="shop-list.html" class="tm-btn large solid">Shop now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single slide -->
                                <!-- Start single slide -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="slider-2-inner">
                                            <div class="tm-slider-content">
                                                <div class="tm-slider-content-inner">
                                                    <h4>New Arrivals</h4>
                                                    <h1>XYZ shoe</h1>
                                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                                    <div class="slider-btn-box mt-40">
                                                        <a href="shop-list.html" class="tm-btn large solid">Shop now</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider-thumb">
                                                <img src="{{ asset('public/images/slider/5.png') }}" alt="slider image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single slide -->
                                <!-- Start single slide -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="slider-2-inner">
                                            <div class="tm-slider-content">
                                                <div class="tm-slider-content-inner">
                                                    <h4>New Arrivals</h4>
                                                    <h1>XYZ T-shirt</h1>
                                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed perspiciatis unde omnis iste natus error sit voluptatem.</p>
                                                    <div class="slider-btn-box mt-40">
                                                        <a href="shop-list.html" class="tm-btn large solid">Shop now</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider-thumb">
                                                <img src="{{ asset('public/images/slider/6.png') }}" alt="slider image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single slide -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of slider area -->