{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="cms-block cms-block-element">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Импорт с Excel</h3>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td class="sonata-ba-list-label">
                            Импорт
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-link btn-flat" href="{{ path('excelForm') }}">
                                    <i class="fa fa-plus-circle"></i>
                                    Загрузить продукт с файла
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="cms-block cms-block-element">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Обновить Цену с Excel</h3>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td class="sonata-ba-list-label">
                            Обновить
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-link btn-flat" href="{{ path('updateExcelProduct') }}">
                                    <i class="fa fa-plus-circle"></i>
                                    Загрузить с файла
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}