
{% if pageCount > 1 %}
    <div class="col-sm-12 text-center">
        <ul class="pagination">
            {% if previous is defined %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><</a>
                </li>
            {% else %}
                <li>
                    <a><</a>
                </li>
            {% endif %}
            {% for page in pagesInRange %}
                {% if page != current and page > 0 %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% elseif page > 0 %}
                    <li>
                        <span>{{ page }}</span>
                    </li>
                {% endif %}

            {% endfor %}
            {% if next is defined %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">></a>
                </li>
            {% else %}
                <li>
                    <a>></a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}