{% extends '::base.html.twig' %}
{% form_theme form 'ApplicationSonataUserBundle:Captcha:captcha.html.twig' %}
{% block body %}
    <div class="row">

        <aside id="column-left" class="col-sm-3">
            <div class="box category col-sm-3">
                <div class="box-heading"><h3>Меню</h3></div>
                <div class="box-content">
                    <div class="box-category">
                        {{ knp_menu_render('main', {'depth':'2','template':'::main_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9" style="padding-top: 10px">
            {% include '::Menu/mainBreadcrumb.html.twig' %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="tab-review" class="tab-pane product-reviews product-section active">
                        <div id="review">
                            {% for feedback in feedbacks %}
                                <div class="review-item">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="review-author"><strong>{{ feedback.username }}</strong></div>
                                            <div class="review-date">{{ feedback.datetime|date('Y.m.d H:i:s') }}</div>
                                        </div>
                                        <div class="col-sm-9">
                                            {{ feedback.comment }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}, action:path('feedback')}) }}
            <fieldset id="account">
                <legend>Основные данные</legend>
                {{ form_errors(form) }}
                <div class="form-group required{% if form.username.vars.errors|length %} has-error{% endif %}">
                    {{ form_label(form.username, 'Имя', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {% if app.user %}
                            {{ form_widget(form.username, {'value' : app.user.username }, { 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                        {% endif %}
                        {% if form.username.vars.errors|length %}
                            <div class="text-danger">{{ form_errors(form.username) }}!</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group required{% if form.username.vars.errors|length %} has-error{% endif %}">
                    {{ form_label(form.phone, 'Телефон', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {% if app.user %}
                            {{ form_widget(form.phone, {'value' : app.user.phone }, { 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
                        {% endif %}
                        {% if form.phone.vars.errors|length %}
                            <div class="text-danger">{{ form_errors(form.phone) }}!</div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group required{% if form.username.vars.errors|length %} has-error{% endif %}">
                    {{ form_label(form.comment, 'Комментарий', { 'label_attr' : {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-9">
                        {% if app.user %}
                            {{ form_widget(form.comment, {'value' : app.user.comment }, { 'attr': {'class': 'form-control'} }) }}
                        {% else %}
                            {{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}
                        {% endif %}
                        {% if form.comment.vars.errors|length %}
                            <div class="text-danger">{{ form_errors(form.comment) }}!</div>
                        {% endif %}
                    </div>
                </div>
                {{ form_widget(form.captcha) }}
            </fieldset>
            <div class="pull-right">
                {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
            </div>
            {{ form_rest(form) }}

            <div class="navigation">
                {{ knp_pagination_render(feedbacks) }}
            </div>
        </div>
    </div>
{% endblock %}