{% extends base_template %}
{% block title %}Загрузка товаров{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('sonata_admin_dashboard') }}">Панель управления</a></li>
    <li class="active">Загрузить с файла</li>
{% endblock %}
{% block list_table %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="sonata-ba-form">
        <div class="row">
            <div class="col-md-6">
                <form action="{{ path('uploadExcel') }}" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-primary">

                                        <div class="box-header">
                                            <h3 class="box-title">Импорт с Excel1</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="sonata-ba-collapsed-fields">
                                                <div class="form-group">
                                                    <input type="file" name="excel" value="Excel Файл"/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sonata-ba-form-actions well well-small form-actions">
                        <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save"></i>Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}