{% extends "::base.html.twig" %}
{% block body %}
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : 'Контакты'} %}
        <!-- End breadcamb area -->

        <div class="tm-section contact-page-wrap bg-white ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="section-title section-title-3">
                            <h2>НАШИ АДРЕСА</h2>
                            <h5>Магазин Белоснежка</h5>
                            <p>Адрес:Токтогула 208/4 (пер.Турусбекова)</p>
                            <br>
                            <h5>Магазин NATURA LIFE</h5>
                            <p>Боконбаева, 76 (пер. Усенбаева)</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="contact-page-inner section-title section-title-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xs-12">
                        <h3>ЕСТЬ ВОПРОСЫ? НАПИШИТЕ НАМ</h3> <br>
                        <form id="contact-form" action="http://nscreativestudio.com/tanzim/tanzim/mail.php" method="post">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <div class="contact-single-input">
                                    <label for="name">Ваше имя</label>
                                    <input type="text" name="name" id="name" placeholder="">
                                </div>
                                <div class="contact-single-input">
                                    <label for="email">Ваш номер телефона</label>
                                    <input type="email" name="email" id="email" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <div class="contact-single-input">
                                    <label for="message">Ваше сообщение</label>
                                    <textarea name="message" id="message" cols="20" rows="6" placeholder=""></textarea>
                                </div>
                                <div class="contact-single-input">
                                    <button type="submit" class="subscribe-btn">ОТПРАВИТЬ</button>
                                </div>

                            </div>
                        </form>
                        <p class="form-messege text-center"></p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End page content -->
{% endblock %}