{% extends "::base.html.twig" %}
{% block body %}
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : 'Доставка'} %}
        <!-- End breadcamb area -->

        <div class="tm-section contact-page-wrap bg-white ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="section-title section-title-3">
                            <h2>УСЛОВИЯ ДОСТАВКИ</h2>
                            <p>Доставка по Бишкеку- 100 сом. При заказе на сумму свыше 1200 сом, доставка - БЕСПЛАТНО, кроме жилмассивов(100сом)</p>
                            <br>
                            <ul>
                                <li>Минимальная сумма заказа - 500 сом</li>
                                <li>Срок доставки по г.Бишкек, в течении 24 часов.</li>
                                <li>Доставка По другим городам Кыргызстана обговаривается индивидуально с клиентом</li>
                                <li>Если Вас не оказалось дома, Вы можете отменить заказ или перенести на завтра </li>
                                <li>Оплата курьеру на месте в момент доставки</li>
                                <li>Служба доставки работает без выходных</li>
                            </ul>


                            <p><i>В случае полного отказа от заказа, стоимость курьерской доставки, оплачивается полностью самим покупателем.</i></p>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End page content -->
{% endblock %}