{% extends "::base.html.twig" %}
{% block body %}
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : 'Оплата'} %}
        <!-- End breadcamb area -->

        <div class="tm-section contact-page-wrap bg-white ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="section-title section-title-3">
                            <h2>Покупайте БЕЗ РЕГИСТРАЦИИ</h2>
                            <p>ОПЛАТА ПРИ ДОСТАВКЕ (Бишкек, Ош, Джалал Абад)</p>
                            <p>Доставка по Бишкеку 100сом, по другим регионам 300сом</p>
                            <p>Бесплатная доставка по Бишкеку от 1200сом (Кроме жилмассивов)</p>
                            <p>Минимальная покупка 500сом </p>

                            <h5>Желаем приятных покупок!!!</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <!-- End page content -->
{% endblock %}