{% extends "::base.html.twig" %}
{% block body %}
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : 'Условия возврата товара'} %}
        <!-- End breadcamb area -->

        <div class="tm-section contact-page-wrap bg-white ptb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">
                        <div class="section-title-3 sin-pro-description-inner">
                            <h2 class="text-center">УСЛОВИЯ ВОЗВРАТА</h2>
                            <p>В случае, если товар окажется ненадлежащего качества, мы обеспечим обмен/возврат. В этом случае все расходы по пересылке мы возьмем на себя.</p>
                            <p><b>!!! ОБРАЩАЕМ ВАШЕ ВНИМАНИЕ !!!</b> Обмен или возврат товара после передачи клиенту - <b>ПЛАТНЫЙ</b> - стоимость услуги 100 сом. Проверяйте, пожалуйста, товар при курьере!</p>
                            <p>ПЕРЕЧЕНЬ непродовольственных товаров, <b>надлежащего качества, не подлежащих обмену</b> на аналогичный товар (утвержден постановлением Правительства КР от 12 октября 1998 года N 667)</p>
                            <p>Утвержден постановлением Правительства Кыргызской Республики от 12 октября 1998 года N 667</p>
                            <ul class="ui-checkboxradio-label">
                                <li>1. Изделия из драгоценных металлов, драгоценных и полудрагоценных камней.</li>
                                <li>2. Сложно-технические товары, имеющие гарантийный срок.</li>
                                <li>3. Чулочно-носочные изделия, перчатки.</li>
                                <li>4. Постельное белье, белье для новорожденных.</li>
                                <li>5. Мерный товар: ткани, тюль, ковровые изделия и т.д.</li>
                                <li><b>6. Парфюмерно-косметические товары.</b></li>
                                <li><b>7. Синтетические моющие средства (жидкие).</b></li>
                                <li>8. Товары бытовой химии в стеклянной, пластмассовой и аэрозольной упаковке.</li>
                                <li>9. Канцелярские товары: тушь, чернила, краски, лаки, масла, разбавители для художественной живописи.</li>
                                <li>10. Фотопленка, фотобумага, фотореактивы.</li>
                                <li><b>11. Предметы личной гигиены.</b></li>
                                <li>12. Мебель.</li>
                                <li>13. Изделия из натурального меха.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End page content -->
{% endblock %}