{% extends 'knp_menu.html.twig' %}
{% block item %}
    {% if item.displayed %}
        {# building the class of the item #}
            {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
            {%- if item.current %}
                {%- set classes = classes|merge([options.currentClass]) %}
            {%- endif %}
            {%- if item.actsLikeFirst %}
                {%- set classes = classes|merge([options.firstClass]) %}
            {%- endif %}
            {%- if item.actsLikeLast %}
                {%- set classes = classes|merge([options.lastClass]) %}
            {%- endif %}
            {%- set attributes = item.attributes %}
            {%- if classes is not empty %}
                {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
            {%- endif %}
            {# displaying the item #}
            {% import _self as knp_menu %}
            {%- if item.uri is not empty and (not item.current or options.currentAsLink) %}
                {% if item.extra('routes')[0]['route'] == 'homePage' %}
                    <li class="{{ attributes['class'] }}">
                        <a href="{{ item.uri }}"><i class="fa fa-home"></i></a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ item.uri }}">{{ block('label') }}{%- if not item.actsLikeLast %}{%- endif %}
                        </a>
                    </li>
                {% endif %}
            {%- endif %}
    {% endif %}
{% endblock %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {% for item in currentItem.children %}
        {{ block('item') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}