{% extends "::base.html.twig" %}

{% block body %}

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : 'Корзинка'} %}
        <!-- End breadcamb area -->

        {% if products|length > 0 %}
            <!-- Start shopping cart area -->
            <div class="tm-section wish-list-wrap bg-white ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-list-inner">
                                <div class="table-responsive">

                                    <table class="cart-list-table shopping-cart">
                                        <thead>

                                        <tr>
                                            <th class="tm-table-pro-name">Фото</th>
                                            <th class="tm-table-pro-des">Названия</th>
                                            <th class="tm-table-pro-price">Цена</th>
                                            <th class="tm-table-pro-qut">Количество</th>
                                            <th class="tm-table-pro-total">Цумма</th>
                                            <th class="tm-table-pro-remove-btn"></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for product in products %}


                                            <tr>
                                                <td class="text-center vcenter">
                                                    <div class="image">
                                                        {% if product.imagePath|length > 0 %}
                                                        <a href="{{ path('goodsGetInfo', {'id':product.id}) }}">
                                                            <img src="{% path product.imagePath.GalleryHasMedias[0].media, 'goods_small' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/>
                                                        </a>
                                                        {% else %}
                                                            <a href="{{ path('goodsGetInfo', {'id':product.id}) }}">
                                                                <img src="{{ asset('public/images/noimage/noimage_small.jpeg') }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail">
                                                            </a>

                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td>
                                                    <a class="link" href="{{ path('goodsGetInfo', {'id':product.id}) }}">{{ product.name }}</a>
                                                </td>
                                                <td class="total-by-product">
                                                    <div class="price">{{ product.price }} сом.</div>
                                                </td>
                                                <td class="table-pro-price">
                                                    <div class="cart-quantity">
                                                        <div class="cart-plus-minus">
                                                            <input class="cart-plus-minus-box" id="product{{ product.id }}" type="text" data-id="{{ product.id }}" value="{{ prices[product.id]['count'] }}">
                                                            <div class="dec qtybutton" data-id="{{ product.id }}">-</div>
                                                            <div class="inc qtybutton" data-id="{{ product.id }}">+</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="price price-total" id="total{{ product.id }}">{{ prices[product.id]['count'] * prices[product.id]['price'] }} сом.</div>
                                                </td>

                                                <td>
                                                    <button class="cross-btn" onclick="removeItem({{ product.id }});"><span class="lnr lnr-cross"></span></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 col-lg-offset-6 col-lg-6 col-xs-12">
                            <div class="tm cart-single-box tm-cart-shipping">
                                <div class="sp-cart-subtotal">
                                    <h4>Общая сумма<span id="totalSum">{{ totalSum }} сом</span></h4>
                                </div>
                                {{ form_start(form, {action:path('binCheckout')}) }}
                                <h3 class="tm-cart-title">Форма оформления заказа</h3>
                                <div class="tm-cart-ship-inner">
                                    <div class="cart-single-input">
                                        {{ form_widget(form.FIO) }}
                                    </div>
                                    <div class="cart-single-input">
                                        {{ form_widget(form.phone) }}
                                    </div>
                                    <div class="cart-single-input">
                                        {{ form_widget(form.address) }}
                                    </div>
                                    <div class="cart-single-input">
                                        {{ form_widget(form.submit) }}
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End shopping cart area -->
        {% else %}
            <!-- Start shopping cart area -->
            <div class="tm-section wish-list-wrap bg-white ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xs-12">
                            <div class="section-title section-title-3">
                                <h2>Корзина пуста</h2>
                                <p>Купите продукты у нас всегда дешевле.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End shopping cart area -->
        {% endif %}

    </section>
    <!-- End page content -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#qtybutton').on('input', function () {
                $.ajax({
                    type: 'post',
                    url: Routing.generate('addItemBasket'),
                    data: {
                        itemCount: $('#qtybutton').val(),
                        itemId: $('#qtybutton').data('id')
                    },
                    dataType: "json",
                    success: function(data, basket) {
                        $('#total' + data.basket.id).text(data.basket.count * data.basket.price + ' сом.');
                    },
                    error: function()
                    {
                        console.log("ERROR");
                    }
                });
            });

            $('.inc, .qtybutton').on('click', function () {
                $.ajax({
                    type: 'post',
                    url: Routing.generate('addItemBasket'),
                    data: {
                        itemCount: $('#product' + $(this).data('id')).val(),
                        itemId: $(this).data('id')
                    },
                    dataType: "json",
                    success: function(data, basket) {
                        $('#total' + data.basket.id).text(data.basket.count * data.basket.price + ' сом.');
                        $('#totalSum').text(data.totalSum + ' сом.');
                    },
                    error: function()
                    {
                        console.log("ERROR");
                    }
                });
            });
        });
        function removeItem(id) {
            $.ajax({
                type: 'post',
                url: Routing.generate('removeBasket'),
                data: {
                    removeItem: id
                },
                dataType: "json",
                success: function(status) {
                    if(status.status === 'success')
                    {
                        location.reload()
                    }
                },
                error: function()       { console.log("ERROR"); }
            });
        }
    </script>
{% endblock %}
