{% extends "::base.html.twig" %}

{% block body %}

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- Start breadcamb area -->
        {% include "CoreBundle:Breadcrumb:breadcrumb.html.twig" with {'name' : 'Форма оформления заказа'} %}
        <!-- End breadcamb area -->

        <div class="tm-section wish-list-wrap bg-white ptb-80">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-sm-12">
                        <div class="cart-wrapper">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="alert alert-success">
                                        <i class="material-design-verification24"></i>
                                        Спасибо, ваш заказ принят. В ближайшее время наши менеджеры обязательно свяжутся с вами! Контактный телефон
                                        <a href="tel:{{ get_param('phone_number') }}">{{ get_param('phone_number') }}</a>
                                        <button type="button" class="close material-design-close47"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
