/*********************************************************************

    Template Name: Tanzim - eCommerce HTML Template  
    Template URI: https://themeforest.net/user/
    Description: This is html5 multipurpose e-connerce template
    Author: nilArtStudio
    Author URI: https://themeforest.net/user/nilArtStudio
    Version: 1.0

    Note: This is default css. All default styles declare here.

*********************************************************************/



/*================================================
[  Table of contents  ]
================================================

01. General
02. transtion
03. Section title 1
04. Section title 2
05. button
06. button small
07. share button
08. Text color
09. Input
10. Extra class
11. Basic margin padding
 
======================================
[ End table content ]
======================================*/

/*************************
  01.  General
*************************/
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a {
    margin: 0;
    padding: 0;
}
/**! 3. Typography **/
html {
    font-size: 100%;
}
@media all and (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}
body {
    font-size: 15px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #363636;
}
h1 {
    font-size: 40px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    font-weight: 600;
}
h3 {
    font-size: 28px;
    font-weight: 500;
}
h4 {
    font-size: 22px;
    font-weight: 400;
}
h5 {
    font-size: 18px;
    font-weight: 400;
}
h6 {
    font-size: 16px;
    font-weight: 300;
}
@media all and (max-width: 767px) {
    h1 {
        font-size: 30px;
        font-weight: 500;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 16px;
    }
}
ul,
ol {
    list-style: none;
}
ul.bullets {
    list-style: inside;
}
ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}
strong {
    font-weight: 600;
}
hr {
    margin: 1.625em 0;
    border-color: #f4f4f4;
}
hr.mp-0{
    margin:0;
    padding: 0;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
a{
    color: #240e35;
}
a:hover, a:focus, a:active {
    color: #000;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}
*::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}
img {
    max-width: 100%;
}
.f-left {
    float: left
}
.f-right {
    float: right
}
.fix {
    overflow: hidden
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.ov-hidden{
    overflow: hidden;
}
.ovx-hidden{
    overflow-x: hidden;
}
.ovy-hidden{
    overflow-y: hidden;
}
.pos-relative {
    position: relative;
}
.pos-absolute {
    position: absolute;
}
.pos-absolute.container {
    left: 0;
    right: 0;
}
.pos-top {
    top: 0;
}
.pos-bottom {
    bottom: 0;
}
.pos-right {
    right: 0;
}
.pos-left {
    left: 0;
}
.m-auto {
    margin: auto;
    text-align: center;
    width: 100%;
}
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.text-bold{
    font-weight:700;
}
.text-medium{
    font-weight:500;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
@media all and (max-width: 990px) {
    .text-center-md {
        text-align: center;
    }
    .text-left-md {
        text-align: left;
    }
    .text-right-md {
        text-align: right;
    }
}
@media all and (max-width: 767px) {
    .text-center-xs {
        text-align: center;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-right-xs {
        text-align: right;
    }
}
/**! 5. Element Size **/
.height-100 {
    height: 100vh;
    padding: 5em 0;
}
.height-50 {
    height: 50vh;
    padding: 4em 0;
}


/***************************
  02. transtion
****************************/
a.button::after,
a.button-small::after {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.share ul,
.share:hover ul {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a.button-border span,
a.button-border-white span,
input,
select,
textarea {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

/*************************
    03. Section title 1
***********************/
.section-title {
    background:#E6E6E6;
}
.section-title.m-bottom{
    margin-bottom:50px;
}
.section-title h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 22px 0px;
    text-transform: uppercase;
    line-height:auto;
}
.section-title h2 a{
    padding: 0px 50px;
    color:#6D6D6D;
    transition: all 0.3s ease 0s;
}
.section-title h2 a:hover{
    color:#000;
}
.tab-section-title {
    display: flex;
    justify-content: center;
}
.section-title .tab-section-title li + li h2 a {
    border-left: 2px solid #D4D4D4;
}
/*tab section title style 2*/
.tab-section-title.style-2 {
    justify-content: flex-start;
}
/*Tab section titile 2 reverse*/
.section-title-5 .tab-section-title-2.reverse-color ul li a{
    color: #666;
}
.section-title-5 .tab-section-title-2.reverse-color > ul > li > a:hover{
    color: #000 !important;
}
.section-title-5 .tab-section-title-2.reverse-color ul li.active a{
    color: #000;
}

/*************************
  02. Section title 1
*************************/
.section-title.section-title-2{
    display:flex;
    justify-content:center;
}
.section-title-2 h2{
    color:#000;
}

/*************************
   03. section title 3
*************************/
.section-title.section-title-3{
    display:flex;
    flex-direction:column;
    background:transparent;
    text-align:center;
}
.section-title.section-title-3 h2{
    color:#000;
    padding:0;
    line-height:20px;
    margin-bottom:30px;
}
.section-title-3 p{
    font-size:15px;
    line-height:26px;
    color:#727272;
}

/*************************
    section title 4
*************************/
.section-title.section-title-4 {
    align-items: center;
    background: #f1f1f1 none repeat scroll 0 0;
    display: flex;
    height: 80px;
    justify-content: space-between;
}
.section-title.section-title-4 h2 {
    color: #000;
    padding-left: 50px;
}
.section-title.section-title-4 > a {
    background: #e6e6e6 none repeat scroll 0 0;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 2px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    width: 360px;
    position:relative;
    transition:all 0.3s ease 0s;
}
.section-title.section-title-4 > a:hover{
    color:#444;
}
.section-title.section-title-4 > a:hover > span.lnr{
    right:45px;
}
.section-title.section-title-4 > a span.lnr {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 80px;
    position: absolute;
    right: 65px;
    top: 50%;
    transform: translateY(-51%);
    transition: all 0.3s ease 0s;
}

/*************************
    section title 5
*************************/

.section-title.section-title-5 {
    padding: 0 50px;
}
.section-title-5 .tab-section-title-2 {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
}
.section-title-5 .tab-section-title-2 h2 {
    color: #000;
}
.section-title-5 .tab-section-title-2 ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.section-title-5 .tab-section-title-2 ul li {
    padding: 0 20px;
}
.section-title-5 .tab-section-title-2 ul li a{
    color:#000;
    transition: all 0.3s ease-in-out 0s;
}
.section-title-5 .tab-section-title-2 ul li.active a{
    color:#727272;
}
.section-title-5 .tab-section-title-2 ul li:last-child {
    padding-right: 0;
}
.section-title-5 .tab-section-title-2 > ul > li > a:hover{
    color:#666;
}


/*Section title bg transparent*/
.section-title.bg-transparent {
    background: transparent;
}

/*************************
         button
*************************/
a.tm-btn,
.tm-btn  {
    /* border: 2px solid #fff; */
    color: #000;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition:all 0.3s ease 0s;
    padding: 0 60px;
}
a.tm-btn:hover,
.tm-btn:hover  {
    color: #fff;
    background:#000;
}
a.tm-btn.large,
.tm-btn.large{
    height: 60px;
    line-height: 57px;
    padding: 0 60px;
}
a.tm-btn.small,
.tm-btn.small{
    height: 40px;
    line-height: 18px;
    padding: 10px 25px;
}
a.tm-btn.medium,
.tm-btn.medium{
    height: 50px;
    line-height: 17px;
    padding: 15px 30px;
}
a.tm-btn.thin,
.tm-btn.thin{
    border: 1px solid #000;
}
.subscribe-btn,
button.subscribe-btn {
    background: #ee185e none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 52px;
    letter-spacing: 2px;
    outline: medium none;
    padding: 0 35px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.subscribe-btn:hover, button.subscribe-btn:hover {
    opacity: 0.8;
    color:#fff;
}
/*Read more button*/
a.read-more{
    color:#000;
    border-bottom:2px solid #000;
    font-size:15px;
    font-weight:700;
    letter-spacing: 1px;
    text-transform:uppercase;
    padding-bottom:5px;
    transition:all 0.3s ease 0s;
}
a.read-more:hover{
    color:#666;
    border-bottom:2px solid #666;
}

/*front button*/
a.front-btn {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition:all 0.3s ease 0s;
    position:relative;
    width:100px;
    display: inline-block;
}
a.front-btn span.lnr {
    font-weight: 500;
    line-height: 24px;
    transition:all 0.3s ease 0s;
    padding-left:10px;
    position:absolute;
    left:100%;
}
a.front-btn:hover{
    color: #727272;
}
a.front-btn:hover span.lnr{
    left:105%;
}

/*************************
    Text color
*************************/
.text-blue { color: #4FC1F0; }
.text-white { color: #fff ;}
.text-black { color: #363636; }
.text-theme { color: #000; }

.text-white h1, .text-white p, .text-white h2{ color: #fff; }
.text-blue h1, .text-blue p, .text-blue h2{ color: #4FC1F0; }
.text-black h1, .text-black p, .text-black h2{ color: #363636; }
.text-theme h1, .text-theme p, .text-theme h2{ color: #000; }

/*************************
    Input
*************************/
input{
    background: transparent;
    border: 1px solid #E0E0E0;
    height: 50px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 16px;
    color: #727272;
    width: 100%;
    line-height:26px;
}
select {
    width: 100%;
    background: transparent;
    border: 1px solid #E0E0E0;
    height: 45px;
    padding-left: 10px;
    box-shadow: none;
    font-size: 14px;
    color: #727272;
}
option {
    background: #fff;
    border: none;
    font-size: 14px;
    outline:none;
}
select:focus{
    outline:none !important;
}
select:focus, input:focus{
    background: transparent;
    border: 1px solid #000;
}
textarea {
    resize: vertical;
    background: #eceff8;
    padding: 10px;
    width: 100%;
    background: transparent;
    border: 1px solid #E0E0E0;
    box-shadow: none;
    font-size: 16px;
    color: #727272;
    line-height:26px;
}
textarea:focus {
    background: transparent;
    border: 1px solid #000;
    outline: none;
}
::-moz-placeholder {
    color: #444;
    font-size: 13px;
}
.input-group.divcenter.input-group .form-control { padding-left: 0px }


/*************************
  Basic margin padding
*************************/
.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*************************
         Margin top
*************************/
.mt-0 { margin-top: 0 }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-30 { margin-top: 30px }
.mt-40 { margin-top: 40px }
.mt-50 { margin-top: 50px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-100 { margin-top: 100px }
.mt-110 { margin-top: 110px }
.mt-120 { margin-top: 120px }
.mt-130 { margin-top: 130px }
.mt-140 { margin-top: 140px }
.mt-150 { margin-top: 150px }
/*************************
      Margin right
*************************/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }
/*************************
      Margin bottom
*************************/
.mb-0 { margin-bottom: 0 }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-30 { margin-bottom: 30px }
.mb-40 { margin-bottom: 40px }
.mb-50 { margin-bottom: 50px }
.mb-60 { margin-bottom: 60px }
.mb-70 { margin-bottom: 70px }
.mb-80 { margin-bottom: 80px }
.mb-90 { margin-bottom: 90px }
.mb-100 { margin-bottom: 100px }
.mb-110 { margin-bottom: 110px }
.mb-120 { margin-bottom: 120px }
.mb-130 { margin-bottom: 130px }
.mb-140 { margin-bottom: 140px }
.mb-150 { margin-bottom: 150px }
/*************************
        Margin left
*************************/
.ml-0 { margin-left: 0 }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
.ml-150 { margin-left: 150px }
/*************************
        Padding top
*************************/
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-30 { padding-top: 30px }
.pt-40 { padding-top: 40px }
.pt-50 { padding-top: 50px }
.pt-60 { padding-top: 60px }
.pt-70 { padding-top: 70px }
.pt-80 { padding-top: 80px }
.pt-90 { padding-top: 90px }
.pt-100 { padding-top: 100px }
.pt-110 { padding-top: 110px }
.pt-120 { padding-top: 120px }
.pt-130 { padding-top: 130px }
.pt-140 { padding-top: 140px }
.pt-150 { padding-top: 150px }
/*************************
        Padding right
*************************/
.pr-0 { padding-right: 0 }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-50 { padding-right: 50px }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
.pr-110 { padding-right: 110px }
.pr-120 { padding-right: 120px }
.pr-130 { padding-right: 130px }
.pr-140 { padding-right: 140px }
/*************************
        Padding bottom
*************************/
.pb-0 { padding-bottom: 0 }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-30 { padding-bottom: 30px }
.pb-40 { padding-bottom: 40px }
.pb-50 { padding-bottom: 50px }
.pb-60 { padding-bottom: 60px }
.pb-70 { padding-bottom: 70px }
.pb-80 { padding-bottom: 80px }
.pb-90 { padding-bottom: 90px }
.pb-100 { padding-bottom: 100px }
.pb-110 { padding-bottom: 110px }
.pb-120 { padding-bottom: 120px }
.pb-130 { padding-bottom: 130px }
.pb-140 { padding-bottom: 140px }
.pb-150 { padding-bottom: 150px }
/*************************
        Padding left
*************************/
.pl-0 { padding-left: 0 }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-110 { padding-left: 110px }
.pl-120 { padding-left: 120px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }


/***************************
    Page section padding
****************************/
.ptb-0 { padding: 0 }
.ptb-10 { padding: 10px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-30 { padding: 30px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }

/***************************
    Page section margin
****************************/
.mtb-0 { margin: 0 }
.mtb-10 { margin: 10px 0 }
.mtb-15 { margin: 15px 0 }
.mtb-20 { margin: 20px 0 }
.mtb-30 { margin: 30px 0 }
.mtb-40 { margin: 40px 0 }
.mtb-50 { margin: 50px 0 }
.mtb-60 { margin: 60px 0 }
.mtb-70 { margin: 70px 0 }
.mtb-80 { margin: 80px 0 }
.mtb-90 { margin: 90px 0 }
.mtb-100 { margin: 100px 0 }
.mtb-110 { margin: 110px 0 }
.mtb-120 { margin: 120px 0 }
.mtb-130 { margin: 130px 0 }
.mtb-140 { margin: 140px 0 }
.mtb-150 { margin: 150px 0; }

@media (max-width: 767px) {
    .xs-mt-30{
        margin-top:30px;
    }
}


/*************************
        Extra class
*************************/
span.price{
    color:#FF4136;
}


/*Custom cloumn*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    float: left;
}
.col-1{
    width: 10%;
}
.col-2{
    width: 20%;
}
.col-3{
    width: 30%;
}
.col-4{
    width: 40%;
}
.col-5{
    width: 50%;
}
.col-6{
    width: 60%;
}
.col-7{
    width: 70%;
}
.col-8{
    width: 80%;
}
.col-9{
    width: 90%;
}
.col-10{
    width: 100%;
}





/*************************************
   Background variation set
**************************************/
/*colored background*/
.bg-white {background: #fff !important}
.bg-black {background: #ee185e !important;}
.bg-gray-light {background: #f1f1f1 !important}
.bg-gray-dark {background: #e6e6e6 !important}
.bg-transparent { background: transparent !important; }


/*image background*/
.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5,
.bg-6,
.bg-7,
.bg-8,
.bg-9,
.bg-10{
    background-attachment: fixed; background-clip: initial; background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover; position: relative; z-index: 0;
}
.bg-1 {background: url(../../images/bg/1.jpg) no-repeat scroll center center;}

/*pattern background*/
.bg-pattern { background:url(http://nscreativestudio.com/tanzim/tanzim/images/pattern/pattern-bg.png) repeat; background-position: top right; background-color: rgba(236, 239, 247, 1); }

/*Other css*/
.border-bottom{
    border-bottom:1px solid #E6E6E6;
    margin:0;
    padding:0;
}
.section-bg-margin-fix {
    margin: 0 15px;
    width: 100%
}