/*********************************************************************

    Template Name: Tanzim - eCommerce HTML Template  
    Template URI: https://themeforest.net/user/
    Description: This is html5 multipurpose e-connerce template
    Author: nilArtStudio
    Author URI: https://themeforest.net/user/nilArtStudio
    Version: 1.0

    Note: This is footer css. ALl footer related styles declare here.

*********************************************************************/


/*Footer top css*/
.footer-section-title {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.footer-widgets-subscribe {
    display: flex;
    justify-content: space-between;
}
.footer-widgets-subscribe > div {
    width: 20%;
}
.footer-widgets-subscribe > div.about-us-widget {
  width: 30%;
}
.footer-widgets-subscribe .footer-newsletter{
    width:25%;
}
.footer-single-widgets li a {
    color: #717171;
    font-size: 15px;
    line-height: 32px;
    transition: all 0.3s ease 0s;
}
.footer-single-widgets li a:hover {
    color: #000;
}
.footer-newsletter input, .footer-newsletter button{
    width:100%;
    margin-top:10px;
    height:50px;
}
/*footer middle area styles*/
.footer-middle-content p {
    color: #727272;
    font-size: 15px;
    line-height: 26px;
    margin-top: 45px;
}
.footer-social-icons .social-list {
    display: flex;
    justify-content: center;
}
.footer-social-icons .social-list li a i {
  color: #727272;
  transition: all 0.6s ease 0s;
}
.footer-social-icons .social-list li a {
  border: 1px solid #727272;
  border-radius: 100%;
  display: block;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  transition: all 0.6s ease 0s;
  width: 48px;
}
.footer-social-icons .social-list li a:hover {
  border: 1px solid #000;
}
.footer-social-icons .social-list li a:hover i{
    color:#000;
}
.footer-social-icons .social-list li + li {
    margin-left: 10px;
}
.footer-social-icons {
    margin-top: 42px;
}
.footer-copyright-area .row {
  align-items: center;
  display: flex;
}
/*Footer style 2*/
.footer-single-widgets.contact-info {
    width: 33%;
}
.footer-widgets-subscribe .footer-instagram {
    width: 300px;
}
.instagram-images ul {
    display: flex;
    flex-flow: row-reverse wrap;
}
.instagram-images li {
    margin-left: 10px;
    margin-top: 10px;
}
.instagram-images li a{
    display:block;
    transition:all 0.3s ease 0s;
    position:relative;
    overflow: hidden;
}
.instagram-images li a:before{
    background:rgba(0,0,0,0.3);
    height:100%;
    width:100%;
    left:0;
    top:0;
    content:"";
    font-family: 'linear-icons';
    opacity:0;
    position:absolute;
    visibility: hidden;
    transition: all 0.3s ease 0s;
}
.instagram-images li a:after{
    content:"\f0c1";
    font-family: 'fontAwesome';
    position:absolute;  
    left:50%;
    top:100%;
    opacity:0;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.3s ease 0s;
    color:#fff;
}
.instagram-images ul li a:hover:before{
    opacity:1;
    visibility: visible;
}
.instagram-images ul li a:hover:after{
    top:50%;
    opacity: 1;
}
.instagram-images ul {
    display: flex;
    flex-flow: row-reverse wrap;
}
.footer-instagram h4 {
  margin-left: 18px;
}
/*Footer style 2 social icons*/
.footer-style-2 .footer-social-icons .social-list li a {
    height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 14px;
}
.footer-style-2 .footer-social-icons {
  margin-top: 25px;
}
.footer-style-2 .footer-social-icons .social-list {
  justify-content: flex-start;
}
.footer-style-2 .contact-text p {
  margin-top: 30px;
  font-size:15px;
  color:#727272;
  line-height:26px;
  font-weight:400;
}
.footer-style-2 .contact-text h5 {
  margin-top: 23px;
  margin-bottom: 10px;
  font-size:15px;
  color:#727272;
  line-height:26px;
  font-weight:400;
}
.footer-style-2 .contact-text a{
  font-size:24px;
  line-height: 26px;
  color:#000;
}
.footer-style-2 .contact-text a:hover{
  color:#333;
}

/*Copyright text*/
.copyright-text a{
  transition:all 0.3s ease-in-out 0s;
  color: #727272;
}
.copyright-text a:hover{
  color: #000;
}