/*********************************************************************

    Template Name: Tanzim - eCommerce HTML Template  
    Template URI: https://themeforest.net/user/
    Description: This is html5 multipurpose e-connerce template
    Author: nilArtStudio
    Author URI: https://themeforest.net/user/nilArtStudio
    Version: 1.0

    Note: This is header css. All header related css declare here.

*********************************************************************/

/*Header top area css*/
.header-top .row{
    display: flex;
    align-items:center;
    height:100%;
    height:50px;
}
.account-language-area {
    display: flex;
    justify-content: flex-end;
}
/*Chat area css*/
.chat-phone-area ul li a {
    border-left: 1px solid rgba(255,255,255,0.4);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 28px;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}
.chat-phone-area ul li a:hover {
    opacity: 0.75;
}
.chat-phone-area ul li:first-child a{
    padding-left:0px;
    border-left:0px;
}
.chat-phone-area ul {
    display: inline-flex;
}
.chat-phone-area ul li span.lnr{
    font-size: 15px;
    line-height: 28px;
    margin-right: 10px;
}
/*Language area css*/
.language-area{
    position:relative;
}
.language-area select {
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
}
.language-area span.language-dropdown{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.language-area .language-selection > option {
    background: #000 none repeat scroll 0 0;
    padding: 5px;
}
.language-area .language-selection,
.language-area select.language-selection {
    background: rgba(0, 0, 0, 0) url("../../images/icons/down-array-2.png") no-repeat scroll right center;
    padding-right: 20px;
}

/*--------------Header middle area css----------------*/
.header-middle {
    align-items: center;
    display: flex;
    height: 120px;
}
.header-middle > div.row {
    align-items: center;
    display: flex;
}
.header-middle .header-middle-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-middle .wish-cart {
    align-items: center;
    display: flex;
    position: relative;
    height:120px;
}
.header-middle .wish-cart ul{
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 100%
}
.header-middle .row {
    align-items: center;
    display: flex;
}

/*Search area css*/
.search-area {
    display: flex;
}
.search-area input, .search-area select {
    height: 50px;
    padding: 0 20px;
}
.search-area input{
    width: 320px;
    border-right:none;
}
.search-area input:focus{
    border:1px solid #E0E0E0;
    border-right:none;
}
.search-area .subscribe-btn {
    height: 50px;
    width:175px;
}
/*Seelect picker css*/
.search-area .btn-group.bootstrap-select {
    height: 50px;
    /*margin: -3px -4px 1px;*/
    width: 170px !important;
}
.search-area .btn-group.bootstrap-select::before {
    background: #c2c2c2 none repeat scroll 0 0;
    content: "";
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    left:-1px;
}
.search-area .btn-default.dropdown-toggle{
    width:158px;
    border:1px solid #e0e0e0;
    border-radius: 0px;
    border-left:1px solid transparent;
    height:50px;
}
.search-area .btn-default:focus,
.search-area .btn-default.focus{
    background: transparent !important;
}
.search-area > .btn-default {
    background: transparent none repeat scroll 0 0;
    color: #717171;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 26px;
    text-transform: auto;
    height:100%;
    left:-1px;
}
.search-area .open .btn-default {
    background: transparent none repeat scroll 0 0;
    color: #aaa;
    outline: none;
    box-shadow: none;
}
.search-area .open .actions-btn .btn-default {
    background: transparent none repeat scroll 0 0;
    color: #aaa;
    outline: none;
    box-shadow: none;
}
.search-area .btn-default:hover,
.search-area .open .btn-default:hover,
.search-area .active .btn-default:hover {
    background: transparent !important;
    color:fff;
}
.search-area .btn-default.focus:active,
.search-area .btn-default:active:focus,
.search-area .btn-default:active:hover,
.search-area .open > .dropdown-toggle.btn-default.focus,
.search-area .open > .dropdown-toggle.btn-default:focus,
.search-area .open > .dropdown-toggle.btn-default:hover {
    background-color: transparent;
    border-color: #E0E0E0;
    color:#aaa;
    box-shadow:none;
    border-left:none;
}
.search-area .bootstrap-select > .dropdown-toggle {
    width: 100%;
    z-index: 1;
    float:right;
}
.search-area .btn-default span.caret{
    visibility: hidden;
}
.search-area .btn-default span.caret::before {
    content: "";
    font-family: fontAwesome;
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-60%);
    visibility: visible;
}
.search-area .dropdown-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f1f1f1 none repeat scroll 0 0;
    border-color: currentcolor #e0e0e0 #e0e0e0;
    border-image: none;
    border-radius: 0;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: none;
    left: auto;
    margin-top: 0;
    padding: 0;
    position: absolute;
    right: 0;
}
.search-area .bootstrap-select.btn-group .dropdown-menu {
    min-width: 230px;
}
.search-area .dropdown-menu.inner {
    transform: translateX(0%);
    width: 100%;
}
.search-area .dropdown-menu li a span{
    text-transform: auto;
}
.search-area .dropdown-menu li a span {
    color: #000;
}
.search-area .dropdown-menu li.selected a{
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}
.search-area .dropdown-menu > li > a {
    padding: 5px 20px;
    transition: 0.3s;
}
.search-area .dropdown-menu li a:hover {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}
.search-area .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}
.search-area .bs-actionsbox button{
    text-transform: uppercase;
}
.search-area .bs-actionsbox .actions-btn + .actions-btn{
    border-left:1px solid #fff;
}
.dropdown-menu.inner {
    padding: 10px 0 !important;
}
.bootstrap-select.btn-group .dropdown-menu {
    z-index: 999999999;
}
.search-area .bs-actionsbox .btn-group .actions-btn.btn.btn-default {
    border: 1px solid #e0e0e0;
    border-radius: 0;
    transition: 0.3s;
}
.search-area .bs-actionsbox {
    padding: 15px 10px 5px;
}
.search-area .bs-actionsbox .btn-group .actions-btn.btn.btn-default:hover,
.search-area .bs-actionsbox .btn-group .actions-btn.btn.btn-default:active,
.search-area .bs-actionsbox .btn-group .actions-btn.btn.btn-default:focus {
    color: #000;
}
.search-area  .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    opacity: 0.6;
}

.search-area form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
/*wish shop cart area*/
.wish-cart > ul {
    display: flex;
    justify-content: space-around;
    text-align:center;
}
.wish-cart > li{
    text-align: center;
}
.wish-cart > li a{
    display: block;
}
.wish-cart li a:hover span.lnr, .wish-cart li a:hover p{
    color:#000;
}
.wish-cart ul li.shopping {
    height: 100%;
}
.wish-cart li.shopping > a{
    position: relative;
}
.wish-cart li a span.lnr {
    color: #717171;
    font-size: 36px;
    line-height: 26px;
    transition: all 0.5s ease 0s;
}
.wish-cart ul li p {
    color: #717171;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    padding-top:8px;
}
.wish-cart ul li a span.cart-items {
    background: #ff4136 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    height: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: -15px;
    transform: translateX(12px);
    width: 24px;
}
.wish-cart > ul li a {
    display: block;
    transition: all 0.5s ease 0s;
}
/*Shoppoing cart dropdown*/
.shopping-cart-list {
    background: #eee none repeat scroll 0 0;
    border-bottom: 3px solid #555;
    box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
    float: right;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 280px;
    z-index: 999;
    opacity:0;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
    transition:all 0.3s ease 0s;
    visibility: hidden;
}
.shopping-cart-show{
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}
.shopping-cart-items {
    display: flex;
    flex-direction: column;
}
.shopping-cart-items > li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    padding:10px 0px;
    border-bottom:1px solid #ccc;
}
.shopping-cart-items li:last-child {
    border-bottom: none;
}
.shopping-cart-items .cart-item-thumb {
    border: 1px solid #ccc;
    border-radius: 100%;
    overflow: hidden;
}
.shopping-cart-items .cart-item-details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    width: 75%;
}
.shopping-cart-items .delete-item{
    align-self: center;
    display: flex;
}
.shopping-cart-items .delete-item a:hover{
    color:#FF4136;
}
.total-price {
    border-bottom: 1px solid #000;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding-bottom: 5px;
    color:#000;
}
.shopping-cart-list .total-price > p {
    font-size: 16px;
    padding-right: 13px;
    text-transform: capitalize;
}
.shopping-cart-items h5.cart-single-item-name a{
    color: #000;
    font-size: 16px;
    transition:all 0.3s ease-in-out 0s;
}
.shopping-cart-items h5.cart-single-item-name a:hover{
    color: #727272;
}
.shopping-cart-items .delete-item a {
    color: #555;
}
.shopping-cart-list .checkout-cart {
    margin-top: 15px;
    text-align: center;
}
.checkout-cart a.tm-btn{
    border:1px solid #000;
}

/*header bottom area css*/
/*menu style */
.header-area{
    z-index: 10;
    position: relative;
}
.main-menu > li > a {
    display: block;
    padding: 20px 25px;
    /*text-transform: uppercase;*/
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 1px;
    transition:all 0.3s ease 0s;
}
.main-menu > li:first-child > a{
    padding-left:0px;
}
.main-menu li {
    display: inline-block;
    position: relative;
}
.main-menu li a{
    color: #717171;
    transition:all 0.3s ease-in-out 0s;
}
.main-menu li a:hover{
    color: #000;
}
/*Dropdown Style*/
.dropdown {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: translateY(10%);
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 250px;
    z-index: 2;
}
.dropdown li{
    display: block;
    border-bottom: 1px solid #f5f5f5;
}
.dropdown li a{
    padding: 10px 20px;
    display: block;
    transition: all 0.3s ease-in-out 0s;
}
.main-menu li:hover .dropdown{
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
}
.sub-dropdown {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0px 2px 5px rgba(0, 0, 0, 0.1);
    left: 110%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 250px;
}
.plus-right {
    position: relative;
}
.dropdown li:hover ul.sub-dropdown {
    left: 100%;
    opacity: 1;
    visibility: visible;
}
.plus-right > a:after {
    content: "\f105";
    font-family: fontawesome;
    position: absolute;
    right: 17px;
}
.plus-right > a {
    position: relative;
}
.last-elements .dropdown .sub-dropdown {
    left: auto;
    right: 110%;
}
.last-elements .dropdown li:hover ul.sub-dropdown {
    left: auto;
    right: 100%;
}


/*Mega menu style*/
.megamenu-area {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0px 2px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 100%;
    transition: all 0.3s ease-in 0s;
    width: 650px;
    z-index: 999;
    visibility: hidden;
    transform: translateY(10%);
}
.megamenu .mega-child {
    float: left;
    padding: 0 15px;
    width: 33.33%;
}
.mega-dropedown li a {
    padding: 5px 0 !important;
}
.mega-title a {
    border-bottom: 1px solid #ededed;
    color: #777 !important;
    display: block;
    margin-bottom: 10px;
    padding: 10px 0 8px !important;
    text-transform: uppercase;
}
.main-menu li.active-mega-menu:hover .megamenu-area {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
}
.mega-dropedown li a, .mega-dropedown li {
    display: block;
}
.plus.active-mega-menu.full-width .mega-child {
    width: 25%;
}
.plus.active-mega-menu.full-width {
    position: static;
}
nav#primary-menu {
    position: relative;
}
.active-mega-menu.full-width .megamenu-area {
    width: 100%;
}
.full-width-mega-menu > .container .full-width-mega-menu-wrap {
    position: relative;
}
.full-width-mega-menu > .container .row nav#primary-menu,
.full-width-mega-menu > .container .row div[class*="col-"] {
    position: static;
    max-height: 70px !important;
}


nav.full-width.right-sided{
    float:right;
}
nav.full-width.right-sided > ul.main-menu{
    border-bottom: 1px solid #e0e0e0;
}
nav.full-width.right-sided > ul.main-menu > li:last-child a{
    padding-right: 0px;
}


/*Account info area */
.header-style-2 .account-language-area {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height:50px;
}
.account-action > a {
    color: #000;
    display: block;
    font-size: 16px;
    line-height: 40px;
    text-align: right;
    text-transform: capitalize;
}
.account-action > a:hover{
    color:#717171;
}
.account-action > a > span.lnr {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    padding-right: 10px;
}
.account-action > a:hover span.lnr{
    color:#717171;
}
.account-action-top{
    position: relative;
}
.account-action-top.account-action > a{
    color:#fff;
    padding-right:20px;
    display: inline;
    transition:all 0.3s ease 0s;
    height:100%;
}
.account-action-top.account-action > a:hover{
    color:#aaa;
}
.account-action-top.account-action > a > span.lnr{
    color: #fff;
    transition: all 0.3s ease 0s;
}
.account-action-top.account-action > a:hover > span.lnr{
    color: #aaa;
}
.account-action-top.account-action::after {
    background:rgba(255,255,255,0.4);
    content: "";
    height: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}

/*Account box css*/
.account-wrap {
    height: 80px;
    position: relative;
}
.account-form {
    background: #eee none repeat scroll 0 0;
    border-bottom: 3px solid #555;
    box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
    display: none;
    float: right;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 300px;
    z-index: 998;
}
.account-form .acc-form-fields input + input {
    margin-top: 10px;
}
.account-form .acc-form-fields .remember-box {
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
}
.account-form .acc-form-fields .remember-box p{
    height: 100%;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-24%);
    width: 200px;
}
.account-form .acc-buttons {
    display: flex;
    justify-content: space-between;
}
.account-form .acc-buttons .tm-btn {
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: 47%;
    z-index: 1;
}
.account-action {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}
.account-box-top{
    position: relative;
}
.account-box-top .account-form {
    background: #eee none repeat scroll 0 0;
    border-bottom: 3px solid #555;
    box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
    display: none;
    float: right;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
    z-index: 998;
}

/*Header style 2*/
.header-style-2 .logo{
    align-items: center;
    display: flex;
    height: 120px;
}
.header-style-2 .main-menu > li > a{
    padding:40px 23px;
}
.header-style-2 .wish-cart li a span.lnr {
    color: #576277;
    font-size: 20px;
    line-height: 26px;
    transition: all 0.3s ease 0s;
}
.header-style-2 .wish-cart > ul {
    height: 100%;
    align-items: center;
    display: flex;
    width: 100%;
    padding:0 20px;
}
.header-style-2 .wish-cart > ul li a span.cart-items {
    height: 20px;
    left: -2px;
    line-height: 20px;
    top: -9px;
    width: 20px;
}
.header-style-2 .account-language-area > div {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-style-2 .wish-cart {
    align-items: center;
    display: flex;
    height: 120px;
    position: relative;
}

/*Header style 2 search form*/
.wish-cart ul li {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}
.wish-cart .search{
    position: relative;
}
.search-form-2-inner > form {
    display: flex;
}
.search-form-2-inner {
    background: #cfcfcf none repeat scroll 0 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 100%;
    width:250px;
    opacity:0;
    transition:all 0.3s ease-in-out 0s;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
    z-index: 999;
}
.search-form-2-inner input {
    height: 40px;
    line-height: 40px;
    width: 75%;
    border:1px solid #000;
    background:#fff;
}
.search-form-2-inner button.tm-btn {
    background: #000;
    height: 40px;
    line-height: 40px;
    padding: 0px 18px;
    width:25%;
    border:1px solid transparent;
}
.search-form-2-inner button.tm-btn:hover > span{
    color: #bbb;
}
.search-form-2-inner button span {
    color:#fff;
    transition:all 0.3s ease 0s;
}
.search-box-show{
    opacity:1;
    display: block;
    transform:scale(1);
}
/* Mean menu css */
.mobile-menu-area.mean-container {
    position: relative;
}
.mean-bar .meanmenu-reveal {
    margin-right: 15px;
}
.mobile-logo {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    z-index: 99;
}
.mobile-logo a img{
    height:40px;
    width: auto;
}

/*Category menu*/
.category-menu-wrap {
    width: 345px;
    position:relative;
    max-height: 70px !important;
}
.category-header a.tm-btn {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    height: 80px;
    letter-spacing: 1px;
    line-height: 80px;
    padding: 0 30px;
    text-align: left;
    width: 100%;
}
.category-body{
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}
.cat-dropdown-wrap > ul > li > a, .cat-menu-more-items > ul > li > a{
    border-bottom: 1px solid #d4d4d4;
    color: #000;
    display: block;
    font-size: 15px;
    height: 65px;
    line-height: 65px;
    /*text-transform: uppercase;*/
    transition:all 0.3s ease-in-out 0s;
}
.cat-dropdown-wrap > ul > li:last-child > a, .cat-menu-more-items > ul > li:last-child > a{
    border-bottom:none;
}
.cat-dropdown-wrap > ul > li > a:hover, .cat-menu-more-items > ul > li > a:hover {
    color: #555;
}
.cat-dropdown-wrap > ul {
    background: #f1f1f1 none repeat scroll 0 0;
}
.cat-dropdown-wrap > ul > li > a > span, .cat-menu-more-items > ul > li > a > span{
    float: right;
    font-size: 13px;
    line-height: 65px;
    padding: 0;
}
.cat-dropdown-wrap > ul > li, .cat-menu-more-items > ul > li {
    padding: 0 30px;
    position: relative;
}
/*Category menu more*/
li.cat-menu-more{
    position:relative;
}
.cat-menu-more-items {
    background: #f1f1f1 none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 80%;
    width: 100%;
    transition:all 0.3s ease-in-out 0s;
    opacity:0;
    visibility: hidden;
    border-top:1px solid #d4d4d4;
    display: none;
}
.cat-menu-more-show{
    opacity: 1;
    visibility: visible;
    top:100%;
    display: block;
}
.cat-menu-more-items > ul > li{
    position:relative;
}
.cat-menu-more-items > ul > li > a{
    transition:all 0.3s ease-in-out 0s;
}
.cat-menu-more-items > ul > li:hover > .cat-sub-dropdown{
    visibility: visible;
    opacity: 1;
    left:100%;
}


/*Category menu style 2*/
.style-2 .cat-dropdown-wrap > ul {
    background: #e7e7e7 none repeat scroll 0 0;
}
.style-2 .cat-menu-more-items{
    background: #e7e7e7 none repeat scroll 0 0;
}
.style-2 .cat-sub-dropdown{
    background: #e7e7e7 none repeat scroll 0 0;
}

/*category sub menu*/
.cat-sub-dropdown {
    width: 230%;
    flex-wrap: wrap;
    background: #f1f1f1 none repeat scroll 0 0;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
    left: 110%;
    position: absolute;
    top: 0;
    display: flex;
    padding:10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out 0s;
}
.cat-sub-dropdown > .cat-sub-dropdown-single {
    width: 33.3333%;
    padding:15px;
}
.cat-sub-dropdown-single .cat-dropdown-title {
    border-bottom: 1px solid #aaa;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-bottom: 10px;
    width: 100%;
}
.cat-sub-dropdown-single .cat-dropdown li a {
    font-size: 14px;
    line-height: 24px;
    color:#666;
    transition: all 0.3s ease-in-out 0s;
    display:block;
    padding: 3px 0px;
}
.cat-sub-dropdown-single .cat-dropdown li a:hover {
    color:#333;
}
.cat-dropdown-wrap > ul > li:hover > .cat-sub-dropdown{
    visibility: visible;
    opacity: 1;
    left:100%;
}


/*Header style 4*/
.header-one-line {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
.header-action-box {
    display: flex;
    justify-content: flex-end;
    height: 80px;
}
.header-action-box > div {
    position: relative;
}
.cart-items {
    background: #ff4136 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 12px;
    height: 18px;
    left: 10px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: -12px;
    width: 18px;
}
.shopping-action-button > a{
    position: relative;
}
.shopping-action-button, .user-action-button, .search-action-button{
    display: block;
    height:100%;
    padding: 30px 0 0 30px;
}
.search-action-button {
    padding-left: 40px;
}