/*********************************************************************

    Template Name: Tanzim - eCommerce HTML Template  
    Template URI: https://themeforest.net/user/
    Description: This is html5 multipurpose e-connerce template
    Author: nilArtStudio
    Author URI: https://themeforest.net/user/nilArtStudio
    Version: 1.0

    Note: This is slider css. ALl slider related css declare here.

*********************************************************************/


.tm-slider-content {
    align-items: center;
    display: flex;
    height: 715px;
}
.slider-area.bg-gray-light {
    height: 715px;
}
.slider-thumb {
    padding-top: 50px;
}
.slider-thumb img{
    opacity: 0;
    visibility: hidden;
    transition:all 2s ease-in-out 0.5s; 
}
.owl-item.active .slider-thumb img{
  opacity: 1;
  visibility: visible;
}
.tm-slider-content-inner h4 {
    color: #666;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: normal;
    margin-bottom: 12px;
    text-transform: uppercase;
    transform: translateX(20%);
    transition:all 1s ease-in-out 1s;
    opacity: 0;
}
.owl-item.active .tm-slider-content-inner h4{
    transform: translateX(0%);
    opacity:1;
}
.tm-slider-content-inner h1 {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 20px;
    transform: translateX(20%);
    transition:all 1s ease-in-out 1.2s;
    opacity: 0;
}
.owl-item.active .tm-slider-content-inner h1{
    transform: translateX(0%);
    opacity: 1;
}
.tm-slider-content-inner p {
    font-size: 15px;
    margin-bottom:5px;
    transform: translateX(20%);
    transition:all 1s ease-in-out 1.4s;
    opacity: 0;
}
.owl-item.active .tm-slider-content-inner p{
    opacity: 1;
    transform: translateX(0%);
}
.tm-slider-content-inner div.slider-btn-box{
    opacity: 0;
    transition:all 1s ease-in-out 2s;
}
.owl-item.active .tm-slider-content-inner div.slider-btn-box{
    opacity: 1;
}

/*Slider owl dots*/
.slider-style-1 .owl-dots {
  bottom: 50px;
  left: 8%;
  position: absolute;
  text-align: left;
}
.slide-2 .slider-thumb {
  padding-top: 0px;
}
.owl-theme .owl-dots .owl-dot span {
  backface-visibility: visible;
  background: #a8a6a7 none repeat scroll 0 0;
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 5px;
  transition: 0.3s;
  width: 10px;
}
.slider-style-1.owl-theme .owl-dots .owl-dot.active span, 
.slider-style-1.owl-theme .owl-dots .owl-dot:hover span {
  background: #000 none repeat scroll 0 0;
}
.slider-style-2.owl-theme .owl-dots .owl-dot.active span, 
.slider-style-2.owl-theme .owl-dots .owl-dot:hover span {
  background: #000 none repeat scroll 0 0;
}
.slider-style-2 .owl-dots {
  bottom: 50px;
  position: absolute;
  text-align: left;
}

/*Owl nav style 4*/
.slider-area.owl-nav-style-4 {
    position: relative;
}
.owl-nav-style-4 .owl-nav .owl-prev{
    left:3%;
    right:auto;
}
.owl-nav-style-4 .owl-nav .owl-next{
  left:auto;
  right:3%;
}
.owl-nav-style-4 .owl-nav span.lnr {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}
.owl-nav-style-4 .owl-nav [class*="owl-"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #c1c1c1;
    transition:all 0.3s ease-in-out 0s;
}
.owl-nav-style-4 .owl-nav [class*="owl-"]:hover{
    color: #000;
    background: none;
}

/*Slider style 2 styles*/
.slider-2-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height:518px;
}
.slider-2-inner .tm-slider-content-inner h4{
  font-size: 20px;
}
.slider-2-inner .tm-slider-content-inner h1{
  color:#000;
  font-size: 48px;
  line-height: 72px;
}
.slider-area.slider-style-2 .owl-dots {
  bottom: 50px;
  position: absolute;
}
.slider-2-inner .tm-slider-content-inner .slider-btn-box > a.tm-btn{
  padding:0 40px;
}
.slider-2-inner .tm-slider-content {
  padding-right: 20px;
  width: 60%;
}

/*Slider style 3*/
.slider-style-3{
  height:750px;
}
.slider-style-3 .slider-thumb {
  align-items: center;
  display: flex;
  height:750px;
}
.tm-slider-content-inner h2{
  color:#000;
  transform: translateX(20%);
  opacity: 0;
  transition:all 1s ease-in-out 1.2s;
}
.owl-item.active .tm-slider-content-inner h2{
    transform: translateX(0%);
    opacity: 1;
}
.slider-style-3 .tm-slider-content-inner p{
  margin-top:20px;
}

/*Owl dot style 2*/
.slider-style-2.owl-dot-style-2 .owl-dots {
  bottom: 50px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}